﻿/*主页样式表*/

#header {background:url(../images/topBg.gif); height:112px }
#top {margin:0px auto; padding-top:27px; width:930px }
 .logo {float:left; weight:240px }
 .topRight {float:right; width:690px }
  .language {text-align:right; height:37px }
  #menu {width:100%; height:48px }
   .menuLeft {float:left; margin-left:100px; width:420px }
    .menu { }
	.menu li {float:left; width:80px; padding-top:20px; height:28px; color:#333333; font-size:14px; font-weight:bold; text-align:center }	
	.menu li.on {background:url(../images/menuOnBg.gif) no-repeat; color:#cd0e13 }
	.menu li.on a {color:#cd0e13 }
	.menu li.line {background:url(../images/menuLineBg.gif) no-repeat }
  
   .menuRight {float:right; padding-top:18px; width:170px; height:30px }
    .searchInput {float:left; width:146px; height:19px }
    .searchButton {float:left; width:24px; height:19px }
 
#banner {margin:0px auto; width:930px; height:260px }

#mainBox {margin:0px auto; width:930px }
 #left {float:left; width:700px; height:300px; background:url(../images/leftTopBg.gif) no-repeat }
 #left h2 {padding:12px 0 0 50px; color:#ffffff }
  .leftImg {float:left; padding:20px 0 0 30px; width:192px; height:230px }
  .leftCon {float:left; padding:20px 20px 0 0; width:458px; height:230px; font-size:14px }
  .syfs {margin:20px auto; width:100% }
  .syfsLeft {float:left; width:20% }
  .syfsLeft h3 {padding:4px 0 0 20px ; background:url(../images/leftTitBg.gif) no-repeat; width:80px; height:22px }  
  .syfsRight {float:left; width:79.8%; line-height:26px }
  
 #right {float:right; width:222px; height:300px }
  .login {}
  .loginTit {padding:14px 0 0 28px; background:url(../images/loginTitBg.gif) no-repeat; height:20px }
  .loginCon {padding:12px 0 0 20px; background:url(../images/loginCentrBg.gif); line-height:30px; height:130px }
  .loginBottom {background:url(../images/loginButtonBg.gif) no-repeat; height:27px }
  
  .adver {margin-top:5px; text-align:center }


#tip {margin:0px auto; width:930px; background:url(../images/tip.gif); height:77px;}



#footer {margin:40px auto; width:930px; height:30px; line-height:30px; background:#1e1e1e; color:#aaaaaa }
 .about {float:left; padding-left:10px }
 .about a {color:#aaaaaa }
 .copyRight {float:right; padding-right:10px }
 .comColor {color:#ffffff; font-weight:bold }


  
  
