/*主页样式表*/

#header {background:url(../images/topBg.gif); height:100px }
#top {margin:0px auto; padding-top:27px; width:930px }
 .logo {float:left; weight:240px }
 .topRight {float:right; width:690px }
  .language {text-align:right; height:25px }
  #menu {width:100%; height:48px }
   .menuLeft {float:left; margin-left:100px; width:420px }
    .menu { }
	.menu li {float:left; width:80px; padding-top:20px; height:28px; color:#333333; font-size:14px; font-weight:bold; text-align:center }	
	.menu li.on {background:url(../images/menuOnBg.gif) no-repeat; color:#cd0e13 }
	.menu li.on a {color:#cd0e13 }
	.menu li.line {background:url(../images/menuLineBg.gif) no-repeat }
  
   .menuRight {float:right; padding-top:18px; width:170px; height:30px }
    .searchInput {float:left; width:146px; height:19px }
    .searchButton {float:left; width:24px; height:19px }
 
#tip {margin:0px auto; padding:7px 0 0 10px; width:920px; background:url(../images/tip.gif); height:58px }
 .nav {margin-top:20px; font-family:'宋体' ;}
 .tipBottom {margin:0px auto; width:930px; background:url(../images/tipBottom.gif) no-repeat; height:12px }

#mainBox {margin:0px auto; width:930px }
 #left {float:left; width:176px }
  .sidebar {width:176px }
  .sidebarTit {margin-top:10px; padding:10px 0 0 10px; height:27px; background:url(../images/sidebarTit.gif) no-repeat; color:#ffffff }
  .sidebarCon { }
  .sidebarCon li { padding-left:20px; height:27px; display:block; line-height:27px; background:url(../images/sidebarBg.gif) no-repeat; font-weight:bold }
  .sidebarCon li a {font-weight:bold; color:#666666 }
  .sidebarCon li.onRed {background:url(../images/sidebarOnBg.gif) no-repeat }
  .sidebarCon li.onRed a {color:#ffffff }
  .sidebarBottom {height:23px; background:url(../images/sidebarBottomBg.gif) no-repeat }
  
 #right {float:right; width:740px }
  .userTit {margin-top:10px; padding:10px 0 0 50px; height:32px; background:url(../images/userTit.gif) no-repeat }
  .userTit2 {margin-top:10px; padding:10px 0 0 35px; height:32px; background:url(../images/userTit.gif) no-repeat }
  .userTit3 {margin-top:10px; padding:10px 0 0 30px; height:32px; background:url(../images/userTit.gif) no-repeat }
  .userTop {background:url(../images/userTopBg.gif) no-repeat top }
  .userCenter {padding:10px 30px; background:url(../images/userCenterBg.gif) }
  .userBottom {height:19px; background:url(../images/userBottomBg.gif) no-repeat }
  
  .userButton {width:79px; height:19px; background:url(../images/userButtonBg.gif) no-repeat; border:none; color:#ffffff }

#footer {margin:30px auto; width:930px; height:30px; line-height:30px; background:#1e1e1e; color:#aaaaaa }
 .about {float:left; padding-left:10px }
 .about a {color:#aaaaaa }
 .copyRight {float:right; padding-right:10px }
 .comColor {color:#ffffff; font-weight:bold }


  
  
