<include file="Admin:header" />
<script language="javascript">
var ulist = {$ulist};
var glist = {$glist};
var uid = "{$vo.userinfo_id}";
var gid = "{$vo.telecomphoneinfo_id}";

function chgOption(obj,data,parent_id,v)
{
    clearOption(obj);//清除所有的下拉列表
    var i = 0;
    var opt;
    for(i=0;i<data.length;i++)
    {
        if(0 == parent_id)
        {
            opt = new Option(data[i].name,data[i].id);
            if(v == data[i].id)
            {
                opt.setAttribute('selected','selected');
            }
            obj.add(opt);
        }
        else if(data[i].userinfo_id == parent_id)
        {
            opt = new Option(data[i].name,data[i].id);
            if(v == data[i].id)
            {
                opt.setAttribute('selected','selected');
            }
            obj.add(opt);
        }
    }
}

function clearOption(obj)
{
    obj.options.length = 0;
}
</script>
      <form id="myform" action="<if condition="$action_name=='add'">{:U('Alpha/insert')}<else />{:U('Alpha/update')}</if>" method="post">
      	<table cellpadding=0 cellspacing=0 class="table_form" width="100%">
      	<tr>
		<td width="120">名称</td>
		<td><input type="text" class="input-text"  name="name" value="{$vo.name}" ></td>
		</tr>
        <tr>
        <td width="120">安装位置</td>
        <td><input type="text" class="input-text"  name="location" value="{$vo.location}" ></td>
        </tr>
      	<tr>
        <td width="120">选择商户</td>
        <td>
        <select name="userinfo_id" id="userinfo_id" onchanage="chgOption(document.getElementById('firecallergroup_id'),glist,this.value,gid)">
        </select></td>
        </tr>
        <tr>
        <td width="120">所属智能电话</td>
        <td>
        <select name="telecomphoneinfo_id" id="telecomphoneinfo_id">
        </select></td>
        </tr>

		</table>

		<div class="btn">
		<if condition="$action_name=='edit'"><input type="hidden" name="id" value="{$vo['id']}" />
        <else />
        <input type="hidden" name="createtime" value="<php>echo time();</php>" />
        <input type="hidden" name="fogsensorcell_createtime" value="<php>echo time();</php>" />
        </if>
		<INPUT TYPE="submit"  value="{:L('dosubmit')}" class="button" >
		<input TYPE="reset"  value="{:L('cancel')}" class="button">
		</div>

		{__TOKEN__}
      </form>
       <script language="javascript">
      chgOption(document.getElementById('userinfo_id'),ulist,0,uid);
      chgOption(document.getElementById('telecomphoneinfo_id'),glist,uid,gid);
      </script>
     </div>