<include file="Admin:header" />
<form method='post'  id="form1" action="{:U('Config/dosite')}">
<table cellpadding=0 cellspacing=0 width="100%" class="table_form" >
<iterate name="site_config" id="vo">
<tr>
	<th width="140">{$vo.info}:</th>
	<td><input type="text" class="input-text"  name="{$vo.varname}" value="{$vo.value}" size="40">{$vo.varname} </td>
</tr>
</iterate>

<iterate name="user_config" id="vo">
<tr>
	<th width="140">{$vo.info}:</th>
	<td><input type="text" class="input-text"  name="{$vo.varname}" value="{$vo.value}" size="40"><a href="{:U('Config/delete&id='.$vo[id])}"><font color="red">{%delete}</font></a> &nbsp;{$vo.varname} </td>
</tr>
</iterate>

</table>
<div class="btn">
<INPUT TYPE="submit"  value="{:L('save')}" class="button" >
<input TYPE="reset"  value="{:L('reset')}" class="button">
</div>{__TOKEN__}
</form>
</div>
