<include file="Admin:header" />

<table  class="search_table" width="100%">
	<tr>
		<td class="search">
			<form action="{:U($module_name.'/index')}" method="get">
			<input type="hidden" name="g" value="{$Think.GROUP_NAME}" />
			<input type="hidden" name="m" value="{$Think.MODULE_NAME}" />
			<input type="hidden" name="a" value="{$Think.ACTION_NAME}" />

			<input id="title" type="text" class="input-text" name="keyword" value="{$Think.get.keyword}" />
			<select name="searchtype">
			<if condition="$fields['name']"><option value="title" <eq  name="searchtype" value='name'>selected="selected"</eq>>{:L('name')}</option></if>
			<if condition="$fields['title']"><option value="title" <eq name="searchtype" value='title'>selected="selected"</eq>>{:L('title')}</option></if>
			<if condition="$fields['username']"><option value="username" <eq name="searchtype" value="username">selected="selected"</eq>>{:L('username')}</option></if>
			<if condition="$fields['keywords']"><option value="keywords" <eq  name="searchtype" value='keywords' >selected="selected"</eq>>{:L('keywords')}</option></if>
			<option value="id" <eq name="searchtype" value='id'>selected="selected"</eq>>ID</option>
			</select>
			<if condition="$fields['catid']">
			<select id="catid" name="catid">
			<option value="">{:L('select_category')}</option>
			{$select_categorys}
			</select>
			</if>

			<if condition="$fields['typeid']">
			<select id="typeid" name="typeid">
			<option value="">{:L('select_typeid')}</option>
			<volist name="Type" id="row">
			<if condition="$row['parentid']==$fields['typeid']['setup']['default']"><option value="{$row['typeid']}" <eq name="typeid" value="$row['typeid']">selected="selected"</eq>>{$row['name']}</option></if>
			</volist>
			</select>
			</if>


			<if condition="$fields['posid']">
			<select id="posid" name="posid">
			<option value="">{:L('select_posids')}</option>
			<volist name="posids" id="row">
			<option value="{$row['id']}" <if condition="$posid ==$row['id']">selected="selected"</if>>{$row['name']}</option>
			</volist>
			</select>
			</if>


			<select id="status" name="status">
			<option value="">{:L('status')}</option>
			<option value="0" <if condition="isset($status) && $status ==0">selected="selected"</if>>{%noshenhe}</option>
			<option value="1" <if condition="isset($status) && $status ==1">selected="selected"</if>>{%isshenhe}</option>
			</select>


			<select id="order" name="order">
			<option value="listorder" <eq name="order" value="listorder">selected="selected"</eq>>{:L('listorder')}</option>
			<option value="{$pkid}" <eq name="order" value="$pkid">selected="selected"</eq>>ID{:L('listorder')}</option>
			<if condition="$fields['hits']"><option value="hits" <eq name="order" value="hits">selected="selected"</eq>>{:L('hits')}{:L('listorder')}</option></if>
			</select>

			<select name="sort">
				<option value="asc" <if condition="$sort =='asc'">selected="selected"</if>>{:L('order_by_asc')}</option>
				<option value="desc" <if condition="$sort =='desc'">selected="selected"</if>>{:L('order_by_desc')}</option>
			</select>

			<select name="listRows">
				<option value="15" <if condition="$listRows ==5">selected="selected"</if>>15{:L('listRows')}</option>
				<option value="20" <if condition="$listRows ==20">selected="selected"</if>>20{:L('listRows')}</option>
				<option value="50" <if condition="$listRows ==50">selected="selected"</if>>50{:L('listRows')}</option>
				<option value="100" <if condition="$listRows ==100">selected="selected"</if>>100{:L('listRows')}</option>
			</select>

			<input type="hidden" id="menuid" name="menuid" value="{$_GET['menuid']}"/>
			<input type="submit" value="{:L('chaxun')}"  class="button" />
			<input type="reset" value="{:L('reset')}" class="button"  />
			</form>
		</td>

	</tr>
</table>

<form name="myform" id="myform" action="" method="post">

<div class="table-list">
    <table width="100%" cellspacing="0">
		<thead>
            <tr>
			<th width="30"><input type="checkbox" value="" id="check_box" onclick="selectall('ids[]');"></th>
            <th width="40">{:L('listorder')}</th>
            <th width="40">ID</th>
			<th>{:L('title')}</th>
           <if condition="$fields['hits']"><th width="40">{:L('hits')}</th> </if>
           <if condition="$fields['username']"> <th width="60">{:L('username')}</th> </if>
            <th width="120">{:L('createtime')}</th>
			<th width="72">{:L('manage')}</th>
            </tr>
        </thead>
      	<tbody>
      		<volist name="list" id="vo" key="k">
      		<tr>
			<td align="center"><input class="inputcheckbox " name="ids[]" value="{$vo['id']}" type="checkbox" ></td>
			<td align='center'><input name='listorders[{$vo.id}]' type='text' size='3' value='{$vo.listorder}' class='input-text-c'></td>
			<td align="center">{$vo['id']}</td>
      		<td><if condition="$vo['catid']">[<font color="green">{$categorys[$vo['catid']]['catname']}</font>]</if> <a href="{$vo.url}" <if condition="$vo['title_style']!=''">style ="{$vo['title_style']}"</if> target="_blank">{$vo['title']} </a>
			<if condition="$vo['thumb']!=''"><img src="./Public/Images/admin_image.gif"></if>
			<if condition="$vo['posid']!=0"><img src="./Public/Images/admin_elite.gif"></if></td>
			<if condition="$fields['hits']"> <td align="center">{$vo['hits']}</td></if>
      		<if condition="$fields['username']"><td align="center">{$vo['username']}</td> </if>
      		<td align="center">{$vo['createtime']|todate="Y-m-d H:i:s"}</td>
			<td align="center"><a href="{:U($module_name.'/edit',array(id=>$vo['id']))}">{:L('edit')}</a> | <a href="javascript:confirm_delete('{:U($module_name.'/delete',array(id=>$vo['id']))}')">{:L('delete')}</a></td>
      		</tr>
      		</volist>
      	</tbody>
    </table>

    <div class="btn"><input type="button" class="button" name="dosubmit" value="<?php echo L('delete')?>" onclick="myform.action='{:U($module_name.'/deleteall')}';return confirm_deleteall()"/> <input  type="button" class="button" name="dosubmit" value="<?php echo L('listorder')?>" onclick="myform.action='{:U($module_name.'/listorder')}';$('#myform').submit();" /></div>

</form></div>

<div id="pages" class="page">{$page}</div>
<script>
$("#catid").attr("value",'{$catid}');
function confirm_deleteall(){
	art.dialog.confirm("{:L('real_delete')}", function(){ $('#myform').submit();});
}
</script>