<include file="Admin:header" />
<style>
.mainnav_title {display:none;}
</style>
<div id="infobox" >
{%createhtml_desc}

<br><a href="{:U($module_name.'/createindex')}" class="">{%Createindex}</a>
</div>
