<include file="Admin:header" />

      <form id="myform" action="<if condition="$action_name=='add'">{:U('Devices/insert')}<else />{:U('Devices/update')}</if>" method="post">
      	<table cellpadding=0 cellspacing=0 class="table_form" width="100%">
      	<tr>
		<td width="120">{:L('devices_name')}</td>
		<td><input type="text" class="input-text"  name="name" value="{$vo.name}" ></td>
		</tr>
        <tr>
        <td width="120">安装位置</td>
        <td><input type="text" class="input-text"  name="location" value="{$vo.location}" ></td>
        </tr>
        <tr>
        <td width="120">主叫号码</td>
        <td><input type="text" class="input-text"  name="number" value="{$vo.number}" ></td>
        </tr>
      	<tr>
		<td width="120">{:L('devices_user')}</td>
		<td><select name="userinfo_id">
        <foreach name="user" item="u">
        <option value="{$u.id}" <eq name="u.id" value="$vo.userinfo_id">selected</eq>>{$u.name}</option>
        </foreach>
        </select>
        </td>
		</tr>
      	<tr>
		<td width="120">{:L('devices_devgroup')}</td>
		<td><select name="firecallergroup_id">
        <foreach name="devgroup" item="u">
        <option value="{$u.id}" <eq name="u.id" value="$vo.firecallergroup_id">selected</eq>>{$u.name}</option>
        </foreach>
        </select>
        </td>
		</tr>
      	<tr>
		<td width="120">{:L('devices_firegroup')}</td>
		<td><select name="firecontrollergroup_id">
        <foreach name="firegroup" item="u">
        <option value="{$u.id}" <eq name="u.id" value="$vo.firecontrollergroup_id">selected</eq>>{$u.name}</option>
        </foreach>
        </select>
        </td>
		</tr>

		</table>

		<div class="btn">
		<if condition="$action_name=='edit'">
        <input type="hidden" name="id" value="{$vo['id']}" />
        <else />
        <input type="hidden" name="createtime" value="<php>echo time();</php>" />
        </if>
		<INPUT TYPE="submit"  value="{:L('dosubmit')}" class="button" >
		<input TYPE="reset"  value="{:L('cancel')}" class="button">
		</div>

		{__TOKEN__}
      </form>
     </div>