<include file="Admin:header" />
<script language="javascript">
var ulist = {$ulist};
var glist = {$glist};
var uid = "{$vo.userinfo_id}";
var gid = "{$vo.firecallergroup_id}";

function chgOption(obj,data,parent_id,v)
{
    clearOption(obj);//清除所有的下拉列表
    var i = 0;
    var opt;
    for(i=0;i<data.length;i++)
    {
    	if(0 == parent_id)
    	{
    		opt = new Option(data[i].name,data[i].id);
            if(v == data[i].id)
            {
                opt.setAttribute('selected','selected');
            }
            obj.add(opt);
    	}
    	else if(data[i].userinfo_id == parent_id)
        {
            opt = new Option(data[i].name,data[i].id);
            if(v == data[i].id)
            {
                opt.setAttribute('selected','selected');
            }
            obj.add(opt);
        }
    }
}

function clearOption(obj)
{
    obj.options.length = 0;
}
</script>
      <form id="myform" action="<if condition="$action_name=='add'">{:U('DevicesPeople/insert')}<else />{:U('DevicesPeople/update')}</if>" method="post">
      	<table cellpadding=0 cellspacing=0 class="table_form" width="100%">
      	<tr>
		<td width="120">联系人</td>
		<td><input type="text" class="input-text"  name="name" value="{$vo.name}" ></td>
		</tr>
      	<tr>
		<td width="120">电话号码</td>
		<td><input type="text" class="input-text"  name="number" value="{$vo.number}" ></td>
		</tr>
        <tr>
        <td width="120">选择商户</td>
        <td>
        <select name="userinfo_id" id="userinfo_id" onchanage="chgOption(document.getElementById('firecallergroup_id'),glist,this.value,gid)">
        </select></td>
        </tr>
      	<tr>
		<td width="120">群呼分组</td>
		<td>
        <select name="firecallergroup_id" id="firecallergroup_id">
        </select></td>
		</tr>

		</table>

		<div class="btn">
		<if condition="$action_name=='edit'"><input type="hidden" name="id" value="{$vo['id']}" /></if>
		<INPUT TYPE="submit"  value="{:L('dosubmit')}" class="button" >
		<input TYPE="reset"  value="{:L('cancel')}" class="button">
		</div>

		{__TOKEN__}
      </form>
      <script language="javascript">
      chgOption(document.getElementById('userinfo_id'),ulist,0,uid);
      chgOption(document.getElementById('firecallergroup_id'),glist,uid,gid);
      </script>
     </div>