<include file="Admin:header" />

<form name="myform" action="{:U('Devices/deleteall')}" method="post">
<div class="table-list">
    <table width="100%" cellspacing="0">
        <thead>
      		<tr>
      		<th width="20"><input type="checkbox"  id="check_box"  onclick="selectall('ids[]');" /></th>
			<th align="center">{:L('devices_name')}</th>
            <th align="center">{:L('devices_user')}</th>
            <th align="center">{:L('devices_devgroup')}</th>
            <th align="center">{:L('devices_firegroup')}</th>
            <th align="center">{:L('devices_status')}</th>
            <th align="center">{:L('devices_alphanum')}</th>
			<th  width="120">{:L('manage')}</th>
      		</tr>
      	</thead>
      	<tbody>
      		<volist name="ulist" id="user" key="k">
      		<tr>
      		<td align="center"><input type="checkbox" name="ids[]" value="{$user['id']}" /></td>
			<td align="center">{$user['name']}</td>
			<td align="center">{$user['username']}</td>
			<td align="center">{$user['devgroupname']}</td>
			<td align="center">{$user['firegroupname']}</td>
			<td align="center">{$user['statusname']}</td>
			<td align="center">{$user['alphanum']}</td>
			<td align="center"><a href="{:U('Devices/edit',array(id=>$user['id']))}">{:L('edit')}</a> | <a href="javascript:confirm_delete('{:U('Devices/delete',array(id=>$user['id']))}')">{:L('delete')}</a></td>      		
      		</tr>
      		</volist>
      	</tbody>
    </table>
  
    <div class="btn"><input type="submit" class="button" name="dosubmit" value="<?php echo L('delete')?>" /></div>  </div>
</div>
</form>

<div id="pages" class="page">{$page}</div>
