<include file="Admin:header" />

      <form id="myform" action="<if condition="$action_name=='add'">{:U('DevicesGroup/insert')}<else />{:U('DevicesGroup/update')}</if>" method="post">
      	<table cellpadding=0 cellspacing=0 class="table_form" width="100%">
        <tr>
        <td width="120">指定商户</td>
        <td>
        <select name="userinfo_id">
        <foreach name="ulist" item="v">
        <option value="{$v.id}" <eq name="$v.id" value="$vo['userinfo_id']">selected</eq>>{$v.name}</option>
        </foreach>
        </select>
        </td>
        </tr>
      	<tr>
		<td width="120">{:L('catname')}</td>
		<td><input type="text" class="input-text"  name="name" value="{$vo.name}" ></td>
		</tr>

		</table>

		<div class="btn">
		<if condition="$action_name=='edit'"><input type="hidden" name="id" value="{$vo['id']}" /></if>
		<INPUT TYPE="submit"  value="{:L('dosubmit')}" class="button" >
		<input TYPE="reset"  value="{:L('cancel')}" class="button">
		</div>

		{__TOKEN__}
      </form>
     </div>