<include file="Admin:header" />

<form name="myform" action="{:U('FireGroup/deleteall')}" method="post">
<div class="table-list">
    <table width="100%" cellspacing="0">
        <thead>
      		<tr>
      		<th width="20"><input type="checkbox"  id="check_box"  onclick="selectall('ids[]');" /></th>
			<th width="40">ID</th>
			<th align="left">{:L('catname')}</th>	
			<th align="left">所属商户</th>	
			<th  width="120">{:L('manage')}</th>
      		</tr>
      	</thead>
      	<tbody>
      		<volist name="ulist" id="user" key="k">
      		<tr>
      		<td align="center"><input type="checkbox" name="ids[]" value="{$user['id']}" /></td>
			<td align="center">{$user['id']}</td>
      		<td>{$user['name']}</td>
      		<td>{$user['userinfo_name']}</td>
			<td align="center"><a href="{:U('FireGroup/edit',array(id=>$user['id']))}">{:L('edit')}</a> | <a href="javascript:confirm_delete('{:U('FireGroup/delete',array(id=>$user['id']))}')">{:L('delete')}</a></td>      		
      		</tr>
      		</volist>
      	</tbody>
    </table>
  
    <div class="btn"><input type="submit" class="button" name="dosubmit" value="<?php echo L('delete')?>" /></div>  </div>
</div>
</form>

<div id="pages" class="page">{$page}</div>
