<script>if(self==top){
	window.top.location.href = '{:U("Login/index")}';
}</script>
<style>
div.footer{ clear:both; padding:10px 0px; width:100%; text-align:center; font:normal normal normal 11px Verdana,Geneva,Arial,Helvetica,sans-serif; background-color:#E2E9EA;}
div.footer a{color:#4B82BB;}
div.footer a:hover{color:silver; text-decoration:none; border-bottom:1px dotted}
</style>
<div id="footer" class="footer" >{*VERSION} {*UPDATETIME} Copyright &copy;2011 <span id="run"></span>
</div>
</body>
</html>