<include file="Admin:header" />
<script>if(self==top){
	window.top.location.href = '{:U("Login/index")}';
}</script>
<literal>
<style>

.mainnav_title{ display:none;}
h1 { height:30px;line-height:30px;font-size:14px;padding-left:15px;background:#EEE;border-bottom:1px solid #ddd;border-right:1px solid #ddd;overflow:hidden;zoom:1;margin-bottom:10px;}
h1 b {color:#3865B8;}
h1 span {color:#ccc;font-size:10px;margin-left:10px;}
#Profile{ width:48%; height:191px; float:left;margin:5px 15px 0 0;}
#system {width:48%;float:left;margin:5px 15px 0 0;}
.list ul{ border:1px #ddd solid;  overflow:hidden;border-bottom:none;}
.list ul li{ border-bottom:1px #ddd solid; height:26px;  line-height:26px; color:#777;padding-left:5px;}
.list ul li span{ display:block; float:left; color:#777;width:100px;}

#sitestats {width:48%; height:191px; float:left;margin:5px 0  0 0;overflow:hidden;}
#sitestats ul {overflow:hidden;zoom:1;border:1px solid #ddd;padding:2px 0 0 2px;_margin:2px 0 0 3px;height:132px;}
#sitestats ul li {float:left;height:44px; float:left; width:16.5%;_width:16.3%;text-align:center;border-right:1px solid #fff;border-bottom:none;}
#sitestats ul li b {float:left;width:100%;height:21px;line-height:22px;  background:#EFEFEF;color:#777;font-weight:normal;}
#sitestats ul li span {float:left;width:100%;color:#3865B8;background:#F8F8F8;height:21px;line-height:21px;overflow:hidden;zoom:1;}

#yourphpnews {width:48%;float:left;margin:5px 15px 0 0;}

#tabs {margin:0px auto;overflow:hidden;border:1px solid #ccc; height:214px;}
#tabs .title {overflow:hidden;background:url(./Public/Images/tab_bottom_line_1.jpg) repeat-x 0 26px;height:27px;}
#tabs .title ul li {float:left;margin-left:-1px;height:26px;line-height:26px;background:#EAEEF4;padding:0px 10px;border:1px solid #ccc;border-top:0;border-bottom:0;}
#tabs .title ul li.on {background:#FFF;height:27px;}
#tabs .content_1 { overflow:hidden;border-top:none;}
#tabs .tabbox {display:none;padding:10px;}

#tabs .tabbox ul li {background:url(./Public/Images/ico_1.gif) no-repeat 4px 11px;padding-left:13px;border-bottom:1px #ddd dashed; height:27px;  line-height:26px;color:#333 }
#tabs .tabbox ul li a {color:#333}
#tabs .tabbox ul li a:hover {color:#FB0000;}
#tabs .tabbox ul li span.date {float:right;color:#777}
</style>
</literal>
	<div id="Profile" class="list">
		<h1><b>{%Profile_info}</b><span>Profile&nbsp; Info</span></h1>
		<ul>
		<iterate name="userinfo" id="v">
		<li><span>{:L($key)}:</span>{$v}</li>
		</iterate>
		</ul>
	</div>

	<!--<div id="sitestats" >
		<h1><b>{%Site_Stats}</b><span>Site&nbsp; Stats</span></h1>
		<ul>
		<iterate name="moduledata" id="v">
		<li><b>{$v[title]}</b><br><span>{$v[counts]}</span></li>
		</iterate>
		<li><b></b><span></span></li>
		<li><b></b><span></span></li>
		<li><b></b><span></span></li>
		<li><b></b><span></span></li>
		<li><b></b><span></span></li>
		<li><b></b><span></span></li>
		<li><b></b><span></span></li>
		<li><b></b><span></span></li>
		<li><b></b><span></span></li>
		<li><b></b><span></span></li>
		<li><b></b><span></span></li>
		</ul>
	</div>-->


	<div id="system"  class="list">
		<h1><b>{%system_info}</b><span>System&nbsp; Info</span></h1>
		<ul>
		<iterate name="server_info" id="v">
		<li><span>{:L($key)}:</span>{$v}</li>
		</iterate>
		</ul>
	</div>


 	