<include file="Admin:header" />
<style>#nav{display:none;}</style>
<table  class="search_table" width="100%">
	<tr>
		<td class="search">
			<form action="{:U($module_name.'/index')}" method="get">
			<input type="hidden" name="g" value="{$Think.GROUP_NAME}" />
			<input type="hidden" name="m" value="{$Think.MODULE_NAME}" />
			<input type="hidden" name="a" value="{$Think.ACTION_NAME}" />	
			<input type="hidden" name="searchtype" value="title" />
			{:L('title')}: 
			<input type="text" class="input-text" name="keyword" value="{$Think.get.keyword}" /> 
			<input type="submit" value="{:L('chaxun')}"  class="button" />
			<input type="reset" value="{:L('reset')}" class="button"  />
			</form>
		</td>
		
	</tr>
</table>

 
<div class="table-list">
    <table width="100%" cellspacing="0">
		<thead> 
            <tr> 
 
            <th width="40">ID</th> 
			<th align="left">{:L('title')}</th> 
			<th width="200">{:L('manage')}</th> 
            </tr> 
        </thead> 
      	<tbody>
      		<volist name="list" id="vo" key="k">
      		<tr>
		 
			<td align="center">{$vo['id']}</td>
      		<td>{$vo['title']}</td>			
			<td align="center"><a href="{:U($module_name.'/edit',array(id=>$vo['id']))}">{:L('edit')}</a></td>  		
      		</tr>
      		</volist>
      	</tbody>
    </table>
  
    <div class="btn"> </div> 

</form></div>    

<div id="pages" class="page">{$page}</div>
<script>
$("#catid").attr("value",'{$catid}');
function confirm_deleteall(){
	art.dialog.confirm("{:L('real_delete')}", function(){ $('#myform').submit();}); 	 
}
</script>