<include file="Admin:header" />

 <form id="myform" name="myform" action="<if condition="$action_name=='edit'">{:U('Posid/update')}<else />{:U('Posid/insert')}</if>" method="post">
      	<table cellpadding=0 cellspacing=0 class="table_form" width="100%">

      	<tr>
		<td width="120">{:L('Posid_name')}</td>
		<td><input type="text" name="name" class="inputbox" value="{$vo['name']}" validate="required:true,cn_username:true, minlength:2, maxlength:20" /></td>
		</tr>

		</table>
		<div class="btn">
		<if condition="$action_name=='edit'"><input type="hidden" id="id" name="id" value="{$vo['id']}" /></if>
		<INPUT TYPE="submit"  value="{:L('dosubmit')}" class="button" >
		<input TYPE="reset"  value="{:L('cancel')}" class="button">
		</div>{__TOKEN__}
      </form>
</div>