<include file="Admin:header" />

<form  id="myform" name="myform" action="{:U('Province/listorder')}" method="post">
<div class="table-list">
    <table width="100%" cellspacing="0">
        <thead>
      		<tr>
            <th width="40">{:L('listorder')}</th>
            <th width="20">ID</th>
            <th align="left">{:L('name')}</th>	
			<th width="40">{:L('status')}</th>
			<th width="270">{:L('manage')}</th>
            </tr>
      	</thead>
      	<tbody>
      		<volist name="list" id="vo" key="k">
      		<tr>
			<td align='center'><input name="listorders[{$vo['id']}]" type='text' size='3' value="{$vo['order']}"></td>
			<td >{$vo['id']}</td>
			<td >{$vo['name']}</td>
 			<td align='center'>
			<if condition="$vo['enable']==1">
				<a href="{:U('Province/status',array('id'=>$vo['id'],'status'=>0,'parentid'=>$parentid))}"><font color="green">{:L('enable')}</font></a>
			<else />				
				<a href="{:U('Province/status',array('id'=>$vo['id'],'status'=>1,'parentid'=>$parentid))}"><font color="red">{:L('disable')}</font></a>	
			</if>
			</td>
      		<td align="center">
			<a href="{:U('Province/index',array(parentid=>$vo['id']))}">{:L('type_manage')}</a> |  
			<a href="{:U('Province/add',array(parentid=>$vo['id']))}">{:L('add_type')}</a> | 
			<a href="{:U('Province/edit',array(id=>$vo['id'],parentid=>$vo['parentsid']))}">{:L('edit')}</a> | 
			<a href="javascript:confirm_delete('{:U('Province/delete',array(id=>$vo['id']))}')">{:L('delete')}</a> 
      		</td>      		
      		</tr>
      		</volist>
      	</tbody>       
      	</table>
</div>

  <div class="btn">  <input  type="button" class="button" name="dosubmit" value="{%listorder}" onclick="myform.action='{:U($module_name.'/listorder')}';$('#myform').submit();" /></div> 

</form></div>
</body></html>
