<include file="Admin:header" />
<script>
function openwin(url,title,width,height){
	art.dialog.open(url, {
			id: 'license',
			title: title,
			lock: 'true',
			window: 'top',
			width: width,
			height: height,
			yesFn: function(iframeWin, topWin){
					iframeWin.document.getElementById('myform').submit();
					return false;

			},
			noFn: function(){}
		}
	);
}
</script>
<div class="table-list">
    <table width="100%" cellspacing="0">
        <thead>
      		<tr>
			<th width="40">ID</th>
			<th align="left">{:L('user_group')}{:L('name')}</th>
			<th align="left">{:L('remark')}</th>
			<th width="60">{:L('status')}</th>
			<th width="220">{:L('manage')}</th>
      		</tr>
      	</thead>
      	<tbody>
      		<volist name="list" id="role" key="k">
      		<tr>
			<td align="center">{$role['id']}</td>
      		<td>{$role['name']}</td>
      		<td>{$role['remark']}</td>
			<td align="center">
      		<eq name="role['status']" value="1">
      		{:L('enable')}
      		<else />
      		{:L('disable')}
      		</eq>
      		</td>
      		<td align="center">
			<a href="{:U('Role/edit',array(id=>$role['id']))}">{:L('edit')}</a> |
			<gt name="rold.id" value="4"><a href="javascript:confirm_delete('{:U('Role/delete',array(id=>$role['id']))}')">{:L('delete')}</a> |</gt>
      		<a href="javascript: openwin(\'{:U('Access/index',array(rid=>$role[id]))}\','{:L('license')}',600,400);">{:L('license')}</a> |
      		<a href="javascript: openwin(\'{:U('User/index',array(groupid=>$role['id']))}\','{:L('license')}',800,400);">{:L('user_list')}</a>
      		</td>

      		</tr>
      		</volist>
      	</tbody>
      	</table>
</div>

