<include file="Admin:header" />

<form method='post' name="myform" id="myform" action="<if condition="$action_name=='add'">{:U($module_name.'/insert')}<else />{:U($module_name.'/update')}</if>">
<table cellpadding=0 cellspacing=0 class="table_form" width="100%">
<tr>
	<td>{:L('name')}:</td>
	<td><input type="text" class="input-text"  name="name" id="name" value="{$vo.name}"  validate="required:true,cn_username:true, minlength:2, maxlength:20"></td>
</tr>
</table>
<div class="btn">
<if condition="$action_name=='edit'">
<input TYPE="hidden" name="id" value="{$vo.id}">
</if>

<INPUT TYPE="submit"  value="{:L('dosubmit')}" class="button" >
<input TYPE="reset"  value="{:L('reset')}" class="button">
</div>{__TOKEN__}
</form>
</div>


</body></html>