<include file="Admin:header" />

<form  id="myform" name="myform" action="{:U('UserRole/listorder')}" method="post">
<div class="table-list">
    <table width="100%" cellspacing="0">
        <thead>
      		<tr>
            <th width="40">{:L('listorder')}</th>
            <th width="20">ID</th>
            <th align="left">{:L('name')}</th>	
			<th width="270">{:L('manage')}</th>
            </tr>
      	</thead>
      	<tbody>
      		<volist name="list" id="vo" key="k">
      		<tr>
			<td align='center'><input name="listorders[{$vo['id']}]" type='text' size='3' value="{$vo['order']}"></td>
			<td >{$vo['id']}</td>
			<td >{$vo['name']}</td>
      		<td align="center">
			<a href="{:U('UserRole/edit',array(id=>$vo['id']))}">{:L('edit')}</a> | 
			<a href="javascript:confirm_delete('{:U('UserRole/delete',array(id=>$vo['id']))}')">{:L('delete')}</a> 
      		</td>      		
      		</tr>
      		</volist>
      	</tbody>       
      	</table>
</div>

  <div class="btn">  <input  type="button" class="button" name="dosubmit" value="{%listorder}" onclick="myform.action='{:U($module_name.'/listorder')}';$('#myform').submit();" /></div> 

</form></div>
</body></html>
