<include file="Admin:header" />
<script language="javascript">
var province={$province};
var city={$city};
var COMM_area={$area};
var area_id = '{$vo.domaininfo_id}';//当前选择的地区
var rankpath = '{$vo.rankpath}';
var rankpath_arr = rankpath.split(',');
var province_id = rankpath_arr[0];//当前选择的省份

var city_id = 0;
if(rankpath_arr.length > 1)
{
    city_id = rankpath_arr[1];//当前选择的城市
}

function chgOption(obj,data,parent_id,v)
{
    clearOption(obj);//清除所有的下拉列表
    var i = 0;
    var opt;
    for(i=0;i<data.length;i++)
    {
        if(data[i].parentsid == parent_id)
        {
            opt = new Option(data[i].name,data[i].id);
            if(v == data[i].id)
            {
                opt.setAttribute('selected','selected');
            }
            obj.add(opt);
        }
    }
}

function clearOption(obj)
{
    obj.options.length = 0;
}
</script>
      <form id="myform" action="<if condition="$action_name=='add'">{:U('UserInfo/insert')}<else />{:U('UserInfo/update')}</if>" method="post">
      	<table cellpadding=0 cellspacing=0 class="table_form" width="100%">
        <tr>
        <td valign="top">{:L('user_group')}</td>
        <td>
        <select name="userrole_id">
        <volist name="usergroup" id="row">
            <option value="{$row['id']}" <eq name="vo['userrole_id']" value="$row['id']">selected="selected"</eq>>{$row['name']}</option>
        </volist>
        </select>
        </td>
        </tr>
      	<tr>
		<td width="120">{:L('username')}</td>
		<td><if condition="$action_name=='add'"> <input type="text" class="input-text"  name="name" validate="required:true,en_num:true, minlength:1, maxlength:20"/><else />{$vo['name']}</if></td>
		</tr>
		<tr>
		<td>{:L('password')}</td><td><input type="password" name="passwd" class="input-text" validate=" <if condition="$action_name=='add'">required:true,</if> minlength:1, maxlength:20"/></td>
		</tr>
		<tr>
			<td>{:L('realname')}</td>
			<td><input type="text" class="input-text"  name="realname" value="{$vo.realname}" ></td>
		</tr>
		<tr>
			<td>{:L('email')}</td>
			<td><input type="text" class="input-text"  name="email" value="{$vo.email}" validate="required:true,email:true,remote: '{:U('Login/checkEmail')}' , minlength:1, maxlength:40"></td>
		</tr>
		
		<tr>
			<td>{:L('question')}</td>
			<td><input type="text" class="input-text"  name="question" value="{$vo.question}"></td>
		</tr>
		<tr>
			<td>{:L('answer')}</td>
			<td><input type="text" class="input-text"  name="answer" value="{$vo.answer}"></td>
		</tr>
		<tr>
			<td>{:L('sex')}</td>
			<td>
            <input type="radio" id="" name="sex" value=0 <eq name='vo.sex' value='0'>checked </eq> /> {:L('sex1')}&nbsp;
            <input type="radio" id="" name="sex" value=1 <eq name='vo.sex' value='1'>checked </eq> /> {:L('sex2')} &nbsp;
            </td>
		</tr>
		<tr>
			<td>{:L('telephone')}</td>
			<td><input type="text" class="input-text"  name="telephone" value="{$vo.telephone}"></td>
		</tr>
		<tr>
			<td>{:L('mobile')}</td>
			<td><input type="text" class="input-text"  name="mobile" value="{$vo.mobile}"></td>
		</tr>
		<tr>
			<td>{:L('fax')}</td>
			<td><input type="text" class="input-text"  name="fax" value="{$vo.fax}"></td>
		</tr>
		<tr>
			<td>{:L('address')}</td>
			<td><input type="text" class="input-text"  name="address" value="{$vo.address}"></td>
		</tr>
         <tr>
                <td align="right" class="bold">区域地址：</td>
                <td align="left">
                <select name="rankpath[]" id="province" onchange="chgOption(document.getElementById('city'),city,this.value,city_id);chgOption(document.getElementById('area'),COMM_area,document.getElementById('city').value,area_id)">
                </select>省&nbsp;<select name="rankpath[]" id="city" onchange="chgOption(document.getElementById('area'),COMM_area,this.value,area_id)">
                
                </select>市&nbsp;<select name="domaininfo_id" id="area">
                </select>区/县</td>
            </tr>
		<tr>
			<td>公司名称</td>
			<td><input type="text" class="input-text"  name="companyname" value="{$vo.companyname}"></td>
		</tr>
		<tr>
			<td>证件号码</td>
			<td><input type="text" class="input-text"  name="idcardnumber" value="{$vo.idcardnumber}"></td>
		</tr>
		<tr>
			<td>消防责任人姓名</td>
			<td><input type="text" class="input-text"  name="firecontrollername" value="{$vo.firecontrollername}"></td>
		</tr>
		<tr>
			<td>消防责任人电话</td>
			<td><input type="text" class="input-text"  name="firecontrollertel" value="{$vo.firecontrollertel}"></td>
		</tr>

		</table>

		<div class="btn">
		<if condition="$action_name=='edit'">
        <input type="hidden" name="id" value="{$vo['id']}" />
        <else />
        <input type="hidden" name="logincount" value="0" />
        <input type="hidden" name="createtime" value="<php>echo time();</php>" />
        <input type="hidden" name="logintime" value="<php>echo time();</php>" />
        <input type="hidden" name="lastlogintime" value="<php>echo time();</php>" />
        <input type="hidden" name="status" value="0" />
        <input type="hidden" name="status" value="0" />
		</if>
		<INPUT TYPE="submit"  value="{:L('dosubmit')}" class="button" >
		<input TYPE="reset"  value="{:L('cancel')}" class="button">
		</div>

		{__TOKEN__}
      </form>
     </div>
     <script language="javascript">
var provinceobj = document.getElementById('province');
var cityobj = document.getElementById('city');
var areaobj = document.getElementById('area');
chgOption(provinceobj,province,0,province_id);
chgOption(cityobj,city,province_id,city_id);
chgOption(areaobj,COMM_area,city_id,area_id);
</script>