<include file="Home:head" />

<!--tip begin-->
<include file="Home:user_tip" />
<!--tip end-->

<script type="text/javascript" src="./Public/Js/MyDate/WdatePicker.js"></script>
<style type="text/css">
.devices_tr{cursor:hand}
.devices_tr .on{ background-color:#cccccc;}
</style>
<div class="clear"></div>
<div id="mainBox">
    <!--left begin-->
    <include file="Home:user_left" />
    <!--left end-->
    <!--right begin-->
  <div id="right">
    <div class="userTit2"><h2>{$pagename}</h2></div>
<!--栏目-->
      <div class="userTop">
      <div class="userCenter">
      <eq name="login.groupid" value="2">
            <form action="{:U('Devices/index')}" method="get">
            <input type="hidden" name="g" value="{$Think.GROUP_NAME}" />
            <input type="hidden" name="m" value="{$Think.MODULE_NAME}" />
            <input type="hidden" name="a" value="{$Think.ACTION_NAME}" />
            <table width="100%" bordercolor="#d1d1d1" border="1">
    <tr>
        <td>电话号码：</td>
        <td><input type="text" name="keyword"  class="input-text" value="{$keyword}"/></td>
            {//消防用户}
            <eq name="login.groupid" value="2">
        <td>公司名称：</td>
        <td><input type="text" name="companyname"  class="input-text" value="{$companyname}"/></td>
    </tr>
    <tr>
        <td>所在区域：</td>
        <td><select name="area" style="width:128px">
             <option value="" selected>全部</option>
             </select></td>
         <td>设备状态：</td>
         <td><select name="status" style="width:128px">
             <option value="" selected>全部</option>
             <php>for($i=0;$i<count($status_list);$i++){</php>
               <option value="{$i}" <eq name="status" value="$i">selected</eq>>{$status_list[$i]}</option>
               <php>}</php>
             </select></td>
             </tr>
             
<tr>
<td>安装起始时间：</td>
<td><input class="Wdate input-text" style="width:125px" name="starttime" type="text" onFocus="WdatePicker()" value="{$starttime}" style="width:112px" /></td>
<td>安装结束时间：</td>
<td><input class="Wdate input-text" style="width:125px" name="endtime" type="text" onFocus="WdatePicker()" value="{$endtime}" style="width:112px" /></td>
</tr>
            </eq>
            <!-- 设备状态：
            <select name="status" style="border:1px solid #cccccc">
            <option value="" <if condition="empty($status)">selected</if>>全部</option>
            <volist name="statuslist" id="v" key="k">
            <option value="{$k-1}" <eq name="status" value="$k-1">selected</eq>>{$v}</option>
            </volist>
            </select> -->
<tr height="30">
<td colspan="4" align="center"><input type="submit" value="查询"  class="userButton" style="margin-left:50px"/></td>
</tr>
</table>
</form>
</eq>
            <table width="100%" cellspacing="0" bordercolor="#d1d1d1" border="1">
                <thead>
                    <tr bgcolor="#f7f7f7" height="26">
                    <th align="center" <eq name="login.groupid" value="3">width="88"</eq>>智能电话号码</th>
                    {//商户显示所在组}
                    <eq name="login.groupid" value="3">
                    <th align="center">所在位置</th>   
                    <th align="center" <eq name="login.groupid" value="3">width="75"</eq>>消防责任组</th>   
                    <th align="center" <eq name="login.groupid" value="3">width="75"</eq>>群呼电话组</th>   
                    </eq>
                    {//消防用户显示当然设备所属商户}
                    <eq name="login.groupid" value="2">
                    <th align="center" <eq name="login.groupid" value="3">width="65"</eq>>所属商户</th>   
                    </eq>
                    <php>$colname = (3 == $login['groupid'])?'自检':'巡检';</php>
                    <th align="center" <eq name="login.groupid" value="3">width="65"</eq>>设备状态</th>   
                    <th align="center" <eq name="login.groupid" value="3">width="90"</eq>>上次{$colname}时间</th>   
                    <th align="center" <eq name="login.groupid" value="3">width="65"</eq>>安装时间</th>  
                    <eq name="login.groupid" value="3"> 
                    <th  align="center" <eq name="login.groupid" value="3">width="65"</eq>>管理</th>
                    </eq>
                    </tr>
                </thead>
                <tbody>
                    <volist name="list" id="user" key="k">
                    <tr class="devices_tr" devicesid="{$user.id}" onclick="tr_click(this)" onmouseover="tr_mouseover(this)" onmouseout="tr_mouseout(this)">
                    <td align="center">{$user['number']}</td>
                    {//商户显示所在组}
                    <eq name="login.groupid" value="3">
                    <td align="center">{$user.location}</td>
                    <td align="center"><a href="{:U('FirePeople/index',array('gid'=>$user['firecontrollergroup_id']))}" style="color:#ff6600">{$user.firegroupname}</a></td>
                    <td align="center"><a href="{:U('DevicesPeople/index',array('gid'=>$user['firecallergroup_id']))}" style="color:#ff6600">{$user.groupname}</a></td>
                    </eq>
                    <eq name="login.groupid" value="2">
                    <td align="center">{$user.username}</td>
                    </eq>
                    <td id="dev_status{$user.id}" align="center">{$user['statusname']}</td>
                    <td align="center"><eq name="user.statustime" value="0">未知<else />{$user.statustime|date="Y/m/d H:i:s",###}</eq></td>
                    <td align="center">{$user.createtime|date="Y/m/d H:i:s",###}</td>
                    <eq name="login.groupid" value="3">
                    <td align="center">
                    <a href="#" onclick="checkstatus({$user.id},0)">{$colname}</a>
                    <a href="{:U('Devices/edit',array('id'=>$user['id']))}">修改</a>
                    </td>              
                    </eq>
                    </tr>
                    </volist>
                    <tr><td colspan="10" align="right" style="padding-right:10px; border-top:1px solid #cccccc">{$page}</td></tr>
                </tbody>
            </table>
      </div>
      </div>
      <div class="userBottom"></div>
      
      <div class="userTit"><h2>烟 感 器</h2></div>
<!--栏目-->
      <div class="userTop">
      <div class="userCenter">
      <table width="100%" cellspacing="0" bordercolor="#d1d1d1" border="1">
                <thead>
                    <tr bgcolor="#f7f7f7" height="26">
                    <eq name="login.groupid" value="3"> 
                    <th  align="center"  <eq name="login.groupid" value="3">width="65"</eq>>名称</th>
                    </eq>
                    <th align="center" <neq name="login.groupid" value="3">width="150"</neq>>所在位置</th>    
                    <th align="center" <eq name="login.groupid" value="3">width="65"</eq>>设备状态</th>   
                    <th align="center" <neq name="login.groupid" value="3">width="150"<else />width="65"</neq>>安装时间</th>  
                    <eq name="login.groupid" value="3"> 
                    <th align="center" width="88">电池更换时间</th>
                    <th align="center" width="65">电池状态</th>  
                    <th   align="center" width="145">管理</th>
                    </eq>
                    </tr>
                </thead>
                <tbody id="alphalist">
                    <volist name="alpha" id="user" key="k">
                    <tr>
                    <eq name="login.groupid" value="3"> 
                    <td>{$user.name}</td>
                    </eq>
                    <td align="center">{$user.location}</td>
                    <td  align="center" id="alpha_status{$user.id}">{$user['statusname']}</td>
                    <td align="center">{$user['createtime']}</td>
                    <eq name="login.groupid" value="3">
                    <td align="center">{$user['fogsensorcell_createtime']}</td>
                    <td align="center">
                    <if condition="$user['days'] gt 30">
                    <img src="__TMPL__images/green.jpg"  border="0"/>
                    <elseif condition="$user['days'] gt 0" />
                    <img src="__TMPL__images/yellow.jpg"  border="0"/>
                    <else />
                    <img src="__TMPL__images/red.jpg"  border="0"/>
                    </if>
                    </td>
                    <td align="center">
                    <a href="#" onclick="checkstatus({$user.id},1)">{$colname}</a> | <a href="{:U('Devices/battery',array('id'=>$user['id']))}">更换电池</a>
                     | <a href="{:U('Devices/alphaedit',array('id'=>$user['id']))}">修改</a>
                    </td>
                    </eq>
                    </tr>
                    </volist>
                </tbody>
            </table>
      </div>
      </div>
      <div class="userBottom"></div>
      
      <div style="margin-top:20px; text-align:center; ">
            <eq name="login.groupid" value="2">
            <input type="button" class="userButton" value="设备统计" onclick="location.href='{:U('Tongji/devices')}'"/>&nbsp;&nbsp;
            <input type="button" class="userButton" value="报警统计" onclick="location.href='{:U('Tongji/alarm')}'"/>&nbsp;&nbsp;
            </eq>
            <input type="button" class="userButton" value="设备导出" onclick="location.href='{:U('Download/index')}'"/>
      </div>
  </div>
    <!--right end-->
</div>
<div class="clear0"></div>

<include file="Home:foot" />

<script language="javascript">
function tr_click(o){
    $('.devices_tr').attr('style','');
    $('.devices_tr').attr('selected',false);
    o.setAttribute('selected',true);
    o.style.backgroundColor='#cccccc';
    var id=o.getAttribute('devicesid');
    $('#alphalist').html('<tr><td align="center" colspan="4"><img src="__PUBLIC__/Images/ajaxloading.gif" border="0" /></td></tr>');
    //alert($('#alphalist').html())
    var url = "{:U('Devices/getAlpha')}";
    url += '&id='+id;
    var bUrl = "{:U('Devices/battery')}";
    var editUrl = "{:U('Devices/alphaedit')}";
    $.getJSON(url,function(result){
        var html = '';
        //alert(result);
        var tmpl = '__TMPL__';
        var img = tmpl + 'images/';
        var tmpimg = '';
        $.each(result,function(i,field){
            //alert(field);
            <eq name="login.groupid" value="3">
            if(field.days>30)
            {
                tmpimg = img + 'green.jpg';
            }
            else if(field.days>0)
            {
                tmpimg = img + 'yellow.jpg';
            }
            else
            {
                tmpimg = img + 'red.jpg';
            }
            tmpimg = '<img src="'+tmpimg+'" border="0" />';
            html += '<tr><td align="center">'+field.name+'</td><td align="center">'+field.location+'</td><td id="alpha_status'+field.id+'" align="center">'+field.statusname+'</td><td align="center">'+field.createtime+'</td><td align="center">'+field.fogsensorcell_createtime+'</td><td align="center">'+tmpimg+'</td><td align="center"><a href="#" onclick="checkstatus('+field.id+',1)">{$colname}</a> | <a href="'+bUrl+'&id='+field.id+'">更换电池</a> | <a href="'+editUrl+'&id='+field.id+'">修改</a></td></tr>'
            <else />
            
            html += '<tr><td align="center">'+field.location+'</td><td align="center">'+field.statusname+'</td><td align="center">'+field.createtime+'</td></tr>'
            </eq>
        
        });
        $('#alphalist').html(html);
    })
}

function tr_mouseover(o){
    if(o.getAttribute('selected') != true){
        o.style.backgroundColor='#e9e9e9';
    }
}
function tr_mouseout(o){
    if(o.getAttribute('selected') != true){
        o.style.backgroundColor='';
    }
}
function checkstatus(id,type){
    var colname='{$colname}';
    var url = "{:U('Devices/check')}";
    var tid = (0 == type)?'dev_status':'alpha_status';
    tid += id;
    url = url + '&id='+id+'&type='+type;
    $.getJSON(url,function(result){
        $('#'+tid).html('<font color=red>检测中</font>');
    })
}

</script>
</body>
</html>
