<include file="Home:head" />

<!--tip begin-->
<include file="Home:user_tip" />
<!--tip end-->

<div class="clear"></div>
<div id="mainBox">
    <!--left begin-->
    <include file="Home:user_left" />
    <!--left end-->
    <!--right begin-->
  <div id="right">
    <div class="userTit3"><h2>{$pagename}</h2></div>
<!--栏目-->
      <div class="userTop">
      <div class="userCenter">
      <form id="myform" action="<if condition="$action_name=='add'">{:U('DevicesPeople/insert',array('gid'=>$gid))}<else />{:U('DevicesPeople/update',array('gid'=>$gid))}</if>" method="post" onsubmit="return Validator.vali(this,2)">
	        <table cellpadding=0 cellspacing=0 width="100%" bordercolor="#d1d1d1" border="1">
            <tr>
            <td width="120" align="right" class="bold">当前群呼组名：</td>
            <td align="left">{$groupname}</td>
            </tr>
            <tr>
            <td width="120" align="right" class="bold">群呼人姓名：</td>
            <td align="left"><input type="text" class="input-text"  name="name" value="{$vo.name}" dataType="LimitB" min="1" max="20" msg="群呼人姓名必须填写"></td>
            </tr>
            <tr>
            <td width="120" align="right" class="bold">群呼电话：</td>
            <td align="left"><input type="text" class="input-text"  name="number" value="{$vo.number}" dataType="LimitB" min="1" max="20" msg="群呼电话必须填写"></td>
            </tr>
            <tr>
            <td width="120" align="right" class="bold">备注信息：</td>
            <td align="left"><input type="text" class="input-text"  name="remark" value="{$vo.remark}" ></td>
            </tr>
            </table>
    
            <if condition="$action_name=='edit'">
            <input type="hidden" name="id" value="{$vo['id']}" />
            <else />
            <input type="hidden" name="userinfo_id" value="{$login.id}" />
            <input type="hidden" name="firecallergroup_id" value="{$gid}" />
            </if>
            
            {__TOKEN__}
            <p align="center"><input type="submit" class="userButton" value="保存" />&nbsp;<input type="button" class="userButton" value="返回" onclick="parent.location.href='{:U('DevicesPeople/index',array('gid'=>$gid))}';" /></p>
          </form>
      </div>
      </div>
      <div class="userBottom"></div>
  </div>
    <!--right end-->
</div>
<div class="clear0"></div>

<include file="Home:foot" />

</body>
</html>
