<include file="Home:head" />

<!--tip begin-->
<include file="Home:user_tip" />
<!--tip end-->

<div class="clear"></div>
<div id="mainBox">
    <!--left begin-->
    <include file="Home:user_left" />
    <!--left end-->
    <!--right begin-->
  <div id="right">
    <div class="userTit"><h2>{$pagename}</h2></div>
<!--栏目-->
      <div class="userTop">
      <div class="userCenter">
      <form id="myform" action="{:U('Devices/update')}" method="post">
	        <table cellpadding=0 cellspacing=0 width="100%" bordercolor="#d1d1d1" border="1">
            <tr>
            <td width="120" align="right" class="bold">所在位置：</td>
            <td align="left"><input type="text" class="input-text"  name="location" value="{$vo.location}" ></td>
            </tr>
            <tr>
            <td width="120" align="right" class="bold">设备状态：</td>
            <td align="left">
            <select name="__status">
            <php>for($i=0;$i<count($status_list);$i++){</php>
            <option value="{$i}" <eq name="status" value="$i">selected</eq>>{$status_list[$i]}</option>
            <php>}</php>
            </select>
            </td>
            </tr>
            </table>
            <input type="hidden" name="id" value="{$vo['id']}" />
            {__TOKEN__}
            <p align="center"><input type="submit" class="userButton" value="保存" />&nbsp;<input type="button" class="userButton" value="返回" onclick="window.location.href='{:U('Devices/index')}';" /></p>
          </form>
      </div>
      </div>
      <div class="userBottom"></div>
  </div>
    <!--right end-->
</div>
<div class="clear0"></div>

<include file="Home:foot" />

</body>
</html>
