<include file="Home:head" />

<!--tip begin-->
<include file="Home:user_tip" />
<!--tip end-->

<div class="clear"></div>
<div id="mainBox">
    <!--left begin-->
    <include file="Home:user_left" />
    <!--left end-->
    <!--right begin-->
  <div id="right">
    <div class="userTit3"><h2>{$pagename}</h2></div>
<!--栏目-->
      <div class="userTop">
      <div class="userCenter">
      <table width="100%" cellspacing="0" bordercolor="#d1d1d1" border="1">
                <thead>
                    <tr bgcolor="#f7f7f7" height="26">
                    <th align="center">电话组名称</th>
                    <th align="center">主叫电话号码</th> 
                    <th align="center">备注</th>
                    <th align="center">管理</th> 
                    </tr>
                </thead>
                <tbody>
                    <volist name="list" id="v" key="k">
                    <tr>
                    <td align="center">{$v.name}</td>
                    <td align="center">{$v.main.number}</td>
                    <td align="center">{$v.main.remark|substr=0,15}</td>
                    <td align="center"><!-- <a href="{:U('DevicesGroup/edit',array('id'=>$v['id']))}">修改</a> | <a href="{:U('DevicesGroup/delete',array('id'=>$v['id']))}">删除</a> |  --><a href="{:U('DevicesPeople/index',array('gid'=>$v['id']))}">管理组员</a></td>
                    </tr>
                    </volist>
                    
                    <tr><td colspan="6" align="right" style="padding-right:10px; border-top:1px solid #cccccc">{$page}</td></tr>
                </tbody>
            </table>
            <div style="margin-top:10px"><!-- <input type="button" class="userButton" value="增加群呼组" onclick="location.href='{:U('DevicesGroup/add')}'"/>&nbsp;&nbsp;&nbsp;&nbsp; <input type="button" class="userButton" value="帮助" />--></div>
      </div>
      </div>
      <div class="userBottom"></div>
  </div>
    <!--right end-->
</div>
<div class="clear0"></div>

<include file="Home:foot" />

</body>
</html>
