<include file="Home:head" />

<!--tip begin-->
<include file="Home:user_tip" />
<!--tip end-->

<div class="clear"></div>
<div id="mainBox">
    <!--left begin-->
    <include file="Home:user_left" />
    <!--left end-->
    <!--right begin-->
  <div id="right">
    <div class="userTit3"><h2>{$pagename}</h2></div>
<!--栏目-->
      <div class="userTop">
      <div class="userCenter">
      <table width="100%" cellspacing="0" bordercolor="#d1d1d1" border="1">
                <thead>
              		<tr bgcolor="#f7f7f7" height="26">
        			<th align="center">责任组名称</th>
        			<th align="center">责任人姓名</th>	
        			<th align="center">责任人电话</th>	
        			<th   align="center">责任人地址</th>
        			<th   align="center">首要责任人</th>
        			<th   align="center">管理</th>
              		</tr>
              	</thead>
              	<tbody>
                <volist name="list" id="v" key="k">
                <tr>
                    <td align="center">{$groupname}</td>
                    <td align="center">{$v['name']}</td>
                    <td align="center">{$v['number']}</td>
                    <td align="center">{$v['location']}</td>            
                    <td align="center"><eq name="v.ismain" value="1">是<else />否</eq></td>            
                    <td align="center"><a href="{:U('FirePeople/edit',array('id'=>$v['id'],'gid'=>$gid))}">修改</a> | <a href="{:U('FirePeople/delete',array('id'=>$v['id'],'gid'=>$gid))}" onclick="return confirm('该操作不能恢复,确定要删除吗?')">删除</a> | <a href="{:U('FirePeople/setMain',array('id'=>$v['id'],'gid'=>$gid))}">设为首要</a></td>
                    </tr>
                </volist>
                    <tr><td colspan="6" align="right" style="padding-right:10px; border-top:1px solid #cccccc">{$page}</td></tr>
              	</tbody>
            </table>
            <div style="margin-top:10px" align="center"><input type="button" class="userButton" value="增加责任人" onclick="location.href='{:U('FirePeople/add',array('gid'=>$gid))}'" /></div>
      </div>
      </div>
      <div class="userBottom"></div>
  </div>
    <!--right end-->
</div>
<div class="clear0"></div>

<include file="Home:foot" />

</body>
</html>
