<include file="Home:head" />

<!--tip begin-->
<include file="Home:user_tip" />
<!--tip end-->

<div class="clear"></div>
<div id="mainBox">
    <!--left begin-->
    <include file="Home:user_left" />
    <!--left end-->
    <!--right begin-->
  <div id="right">
    <div class="userTit"><h2>{$pagename}</h2></div>
<!--栏目-->
      <div class="userTop">
      <div class="userCenter">
      <form action="{:U('FireList/index')}" method="get">
            <input type="hidden" name="g" value="{$Think.GROUP_NAME}" />
            <input type="hidden" name="m" value="{$Think.MODULE_NAME}" />
            <input type="hidden" name="a" value="{$Think.ACTION_NAME}" />
            <table  class="search_table" width="100%" bordercolor="#d1d1d1" border="1" height="60">
            <eq name="login.groupid" value="2">
            <tr>
            
                <td>电话号码：</td>
                <td><input type="text" name="keyword"  class="input-text" value="{$keyword}" /></td>
                <td>所在区域：</td>
                <td><select name="area" style="width:105px">
             <option value="" selected>全部</option>
             </select></td>
             <td>公司名称：</td>
             <td><input type="text" name="companyname"  class="input-text" value="{$companyname}" /></td>
             </tr>
             </eq>
             <tr>
             <td>告警类型：</td>
             <td><select name="fire_type" style="width:130px">
                <option value="" <eq name="fire_type" value="-1">selected</eq>>全部</option>
               <php>for($i=1;$i<=count($fire_type_list);$i++){</php>
               <option value="{$i}" <eq name="fire_type" value="$i">selected</eq>>{$fire_type_list[$i]}</option>
               <php>}</php>
                </select></td>
                <!-- 
                电话号码：<select name="devices">
                <option value="" <eq name="devices" value="0">selected</eq>>全部</option>
               <foreach name="devices_list" item="v">
               <option value="{$v.id}" <eq name="devices" value="$v.id">selected</eq>>{$v.number}</option>
               </foreach>
                </select> -->
                <td>起始时间：</td>
                <td><input class="Wdate input-text"  name="starttime" type="text" onFocus="WdatePicker()" value="{$starttime}" style="width:100px" /></td>
                <td>结束时间：</td>
                <td><input class="Wdate input-text"  name="endtime" type="text" onFocus="WdatePicker()" value="{$endtime}" style="width:100px" /></td>
                </tr>
                <tr height="33">
                <td colspan="6" align="center">
                    <input type="submit" value="查询"  class="userButton" style="margin-left:2px"/>
                </td>
                </tr>
            </table>
            </form>
            <table width="100%" cellspacing="0" bordercolor="#d1d1d1" border="1">
                <thead>
              		<tr bgcolor="#f7f7f7" height="26">
        			<th align="center">电信智能电话号码</th>
        			<th align="center">公司名称</th>
        			<th align="left">报警时间</th>	
        			<th align="left">报警类型</th>	
        			<th align="left" >说明</th>
              		</tr>
              	</thead>
              	<tbody>
              		<volist name="list" id="user" key="k">
              		<tr>
        			<td align="center">{$user['telecomphoneinfo_number']}</td>
        			<td align="center">{$user['userinfo_companyname']}</td>
              		<td>{$user.time|date="Y/m/d H:i:s",###}</td>
        			<td>{$user['statusname']}</td>
        			<td>{$user.remark|substr=0,15}</td>      		
              		</tr>
              		</volist>
                    <tr><td colspan="6" align="right" style="padding-right:10px; border-top:1px solid #cccccc">{$page}</td></tr>
              	</tbody>
            </table>
            <div style="margin-top:10px" align="center"><input type="button" class="userButton" value="导出" onclick="location.href='{:U('FireList/export')}'"/></div>
      </div>
      </div>
      <div class="userBottom"></div>
  </div>
    <!--right end-->
</div>
<div class="clear0"></div>

<include file="Home:foot" />

</body>
</html>
