<include file="Home:head" />

<!--tip begin-->
<include file="Home:user_tip" />
<!--tip end-->

<div class="clear"></div>
<div id="mainBox">
    <!--left begin-->
    <include file="Home:user_left" />
    <!--left end-->
    <!--right begin-->
  <div id="right">
    <div class="userTit3"><h2>{$pagename}</h2></div>
<!--栏目-->
      <div class="userTop">
      <div class="userCenter">
      <table width="100%" cellspacing="0" bordercolor="#d1d1d1" border="1">
                <thead>
              		<tr bgcolor="#f7f7f7" height="26">
        			<th align="center">责任组名称</th>
        			<th align="center">首要责任人姓名</th>	
        			<th align="center">责任人电话</th>	
        			<th  width="120" align="center">责任人地址</th>
        			<th  width="120" align="center">管理</th>
              		</tr>
              	</thead>
              	<tbody>
                <volist name="list" id="v" key="k">
                <tr>
                    <td align="center">{$v.name}</td>
                    <td align="center">{$v['main']['name']}</td>
                    <td align="center">{$v['main']['number']}</td>
                    <td align="center">{$v['main']['location']}</td>            
                    <td align="center"><!-- <a href="{:U('FireGroup/edit',array('id'=>$v['id'],'userid'=>$userid))}">修改</a> | <a href="{:U('FireGroup/delete',array('id'=>$v['id']))}">删除</a> |  --><a href="{:U('FirePeople/index',array('gid'=>$v['id']))}">管理组员</a></td>
                    </tr>
                </volist>
                    <tr><td colspan="6" align="right" style="padding-right:10px; border-top:1px solid #cccccc">{$page}</td></tr>
              	</tbody>
            </table>
             <div style="margin-top:10px;" align="center"><!--<input type="button" class="userButton" value="增加责任组" onclick="location.href='{:U('FireGroup/add',array('userid'=>$userid))}'" />&nbsp;&nbsp;&nbsp;&nbsp; <input type="button" class="userButton" value="帮助" />--></div>
      </div>
      </div>
      <div class="userBottom"></div>
  </div>
    <!--right end-->
</div>
<div class="clear0"></div>

<include file="Home:foot" />

</body>
</html>
