<include file="Home:head" />

<!--tip begin-->
<include file="Home:user_tip" />
<!--tip end-->

<div class="clear"></div>
<div id="mainBox">
    <!--left begin-->
    <include file="Home:user_left" />
    <!--left end-->
    <!--right begin-->
  <div id="right">
    <div class="userTit3"><h2>{$pagename}</h2></div>
<!--栏目-->
      <div class="userTop">
      <div class="userCenter">
      <form id="myform" action="<if condition="$action_name=='add'">{:U('FireGroup/insert')}<else />{:U('FireGroup/update')}</if>" method="post">
	        <table cellpadding=0 cellspacing=0 class="table_form" width="100%" bordercolor="#d1d1d1" border="1">
            <tr>
            <td width="120" align="right" class="bold">消防组名：</td>
            <td align="left"><input type="text" class="input-text"  name="name" value="{$vo.name}" ></td>
            </tr>
            </table>
    
            <if condition="$action_name=='edit'">
            <input type="hidden" name="id" value="{$vo['id']}" />
            <else />
            <input type="hidden" name="userinfo_id" value="{$login.id}" />
            </if>
            {__TOKEN__}
            <input type="submit" class="userButton" value="保存" />&nbsp;<input type="button" class="userButton" value="返回" onclick="location.href='{:U('FireGroup/index')}'" />
          </form>
      </div>
      </div>
      <div class="userBottom"></div>
  </div>
    <!--right end-->
</div>
<div class="clear0"></div>

<include file="Home:foot" />

</body>
</html>
