<!--footer begin-->
<div id="footer">
    <div class="about">
    <a href="javascript:;">关于我们</a>&nbsp; | &nbsp;<a href="javascript:;">联系方式</a>&nbsp; | &nbsp;<a href="javascript:;">业务介绍</a>&nbsp; | &nbsp;<a href="javascript:;">使用方式</a>&nbsp; | &nbsp;<a href="javascript:;">办理方式</a>
    </div>
    <div class="copyRight">
    Copyright 2000-2012 <span class="comColor">中国电信浙江分公司</span>&nbsp; | &nbsp;网站备案号：浙ICP证10055号
    </div>
</div>

<!--footer end-->