<include file="Home:user_head_notop" />

      <form method="post" action="{:U('Guestbook/replaysave')}">
			<p><strong>回复标题</strong>：&nbsp;&nbsp;<input type="text" name="title" style="width:200px" value="回复:{$v.title}" /></p>
			<p><strong>邮件内容</strong>：</p>
			<p><textarea name="content" cols="70" rows="13"></textarea></p>
           
            <p align="center" style="margin-top:10px"><input type="submit" value="回复" class="userButton" /></p>
            <input type="hidden" name="id" value="{$v.id}" />
            </form>


</body>
</html>
