<include file="Home:user_head_notop" />

      <p><strong>邮件标题</strong>：&nbsp;&nbsp;{$v.title}</p>
			<p><strong>发  送  人</strong>：&nbsp;&nbsp;{$v.send_name}</p>
			<p><strong>发送时间</strong>：&nbsp;&nbsp;{$v.createtime|date="Y/m/d H:i:s",###}</p>
			<p><strong>邮件内容</strong>：</p>
			<p>{$v.content}</p>

</body>
</html>
