<include file="Home:head" />

<!--tip begin-->
<include file="Home:user_tip" />
<!--tip end-->

<div class="clear"></div>
<div id="mainBox">
    <!--left begin-->
    <include file="Home:user_left" />
    <!--left end-->
    <!--right begin-->
  <div id="right">
    <div class="userTit"><h2>{$pagename}</h2></div>
<!--栏目-->
      <div class="userTop">
      <div class="userCenter">
      <form id="myform" action="{:U('Guestbook/sendsave')}" method="post">
	        <table cellpadding=0 cellspacing=0 class="table_form" width="100%" bordercolor="#d1d1d1" border="1">
            
            <tr>
                <td align="right" class="bold">收件人：</td>
                <td align="left"><input type="text" class="input-text"  name="user_name" ><!-- &nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" class="userButton" value="选择商户" /> --></td>
            </tr>
            <tr>
                <td align="right" class="bold">邮件标题：</td>
                <td align="left"><input type="text" class="input-text"  name="title"></td>
            </tr>
            <tr>
                <td align="right" class="bold">邮件内容：</td>
                <td align="left"><textarea cols="80" rows="20"  name="content"></textarea></td>
            </tr>
    
            </table>
            {__TOKEN__}
            <br>
            <br>
            <p align="center"><input type="submit" class="userButton" value="发送" /></p>
          </form>
      </div>
      </div>
      <div class="userBottom"></div>
  </div>
    <!--right end-->
</div>
<div class="clear0"></div>

<include file="Home:foot" />

</body>
</html>
