<include file="Home:head" />

<!--tip begin-->
<include file="Home:user_tip" />
<!--tip end-->

<div class="clear"></div>
<div id="mainBox">
    <!--left begin-->
    <include file="Home:user_left" />
    <!--left end-->
    <!--right begin-->
  <div id="right">
    <div class="userTit"><h2>{$pagename}</h2></div>
<!--栏目-->
      <div class="userTop">
      <div class="userCenter">
      
	        <table width="100%" cellpadding="0" cellspacing="0" bordercolor="#d1d1d1" border="1">
            
            <tr>
                <td align="right" width="100"><strong>邮件标题：</strong></td>
                <td align="left">{$v.title}</td>
            </tr>
            <tr>
                <td align="right" ><strong>发  送  人：</strong></td>
                <td align="left">{$v.send_name}</td>
            </tr>
            <tr>
                <td align="right" ><strong>发送时间：</strong></td>
                <td align="left">{$v.createtime|date="Y/m/d H:i:s",###}</td>
            </tr>
            <tr>
                <td align="right" ><strong>邮件内容：</td>
                <td align="left">{$v.content}</td>
            </tr>
            <tr>
                <td colspan="2" align="center" height="30"><input type="button" class="userButton" value="返回" onclick="window.location.href='{:U('Guestbook/index')}';" /></td>
            </tr>
            </table>
            {__TOKEN__}
            <br>
            <br>
      </div>
      </div>
      <div class="userBottom"></div>
  </div>
    <!--right end-->
</div>
<div class="clear0"></div>

<include file="Home:foot" />

</body>
</html>
