<include file="Home:user_head_notop" />

      <form method="post" action="{:U('Guestbook/sendsave')}">
			<p><strong>邮件标题</strong>：&nbsp;&nbsp;<input type="text" name="replay_title" style="width:200px" /></p>
			<p><strong>邮件内容</strong>：</p>
			<p><textarea name="replay_content" cols="68" rows="14"></textarea></p>
            <p ><input type="hidden" name="id" value="{$id}"  /></p>
            <p align="center" style="margin-top:20px"><input type="submit" value="发送" class="userButton"/></p>
   </form>

</body>
</html>
