<include file="Home:head" />

<!--tip begin-->
<include file="Home:user_tip" />
<!--tip end-->

<div class="clear"></div>
<div id="mainBox">
    <!--left begin-->
    <include file="Home:user_left" />
    <!--left end-->
    <!--right begin-->
  <div id="right">
    <div class="userTit"><h2>{$pagename}</h2></div>
<!--栏目-->
      <div class="userTop">
      <div class="userCenter">
      <table width="100%" cellspacing="0" bordercolor="#d1d1d1" border="1">
                <thead>
              		<tr bgcolor="#f7f7f7" height="26">
        			<th align="center">发件人姓名</th>
        			<th align="center">邮件标题</th>	
        			<th align="center">发送时间</th>	
        			<th align="center">状态</th>	
        			<th align="center" >操作</th>
              		</tr>
              	</thead>
              	<tbody>
              		<volist name="list" id="user" key="k">
              		<tr>
        			<td align="center">{$user['send_name']}</td>
              		<td align="center">{$user.title}</td>
        			<td align="center">{$user.createtime|date="Y/m/d H:i:s",###}</td>
        			<td align="center"><eq name="user.status" value="1"><font color=red>已回复</font><else />未回复</eq></td>
        			<td align="center"><a href="{:U('Guestbook/show',array('id'=>$user['id']))}">查看详细</a> | <a href="javascript:showJbox('{:U('Guestbook/replay',array('id'=>$user['id']))}','邮件回复',500,300)">回复</a> | <a href="{:U('Guestbook/delete',array('id'=>$user['id']))}" onclick="return confirm('确定要删除吗？')">删除</a></td>      		
              		</tr>
              		</volist>
                    <tr><td colspan="6" align="right" style="padding-right:10px; border-top:1px solid #cccccc">{$page}</td></tr>
              	</tbody>
            </table>
      </div>
      </div>
      <div class="userBottom"></div>
  </div>
    <!--right end-->
</div>
<div class="clear0"></div>

<include file="Home:foot" />

</body>
</html>
