<include file="Home:head" />

<!--banner begin-->
<div id="banner"> <a href="javascript:;"><img src="__TMPL__images/banner.jpg" width="930" height="260" align="absmiddle" /></a></div>
<!--banner end-->

<script language="javascript">
function resetVerifyCode(){ //
    var timenow = new Date().getTime();
    document.getElementById('verifyImage').src= '{:U("Index/verify")}#'+timenow;
}
</script>
<div class="clear"></div>
<div id="mainBox">
    <!--left begin-->
    <div id="left">
        <h2>业务介绍</h2>
        <div class="leftImg">
        <img src="__TMPL__images/leftImg.gif" width="181" height="190" />
        </div>
        <div class="leftCon">
            <div>消防报警系统又称火灾报警系统，消防自动报警系统。由火灾报警主机、火灾特征或火灾早期特征传感器、人工火灾报警设备、输出控制设备组成。传感器完成对火灾特征或火灾早期特征的探测，并将相关信号传送到火灾报警主机。报警主机完成对信号的显示、记录，   并完成相应的输出控制。</div>
            <div class="syfs">
                <div class="syfsLeft">
                <h3>使用方式</h3>
                </div>
                <div class="syfsRight">
                登陆系统后进行群组设置，设置完成后，如遇到系统故障，消防系统将自动发送预警信息到指定手机终端
                </div>                
            </div>
            <div class="syfs">
                <div class="syfsLeft">
                <h3>办理方式</h3>
                </div>
                <div class="syfsRight">
                <strong class="red">在线注册：</strong>使用邮箱进行注册<br />
                <strong class="red">现在开通：</strong><a href="javascript:;"><img src="__TMPL__images/ljkt.gif" width="79" height="19" /></a>
                </div>  
            </div>
        </div>
    </div>
    <!--left end-->
    <!--right begin-->
  <div id="right">
        <!--login begin-->
        <div class="login">
        <if condition="$isLogin neq true">
            <div class="loginTit">
            <h2>用户登录</h2>
            </div>
            <div class="loginCon">
            <form action="{:U('Index/Login')}" method="post">
            用户名：
              <input type="text" name="username"  /><br />
            &nbsp;&nbsp;密码：
              <input type="password" name="password"  /><br />
            验证码：
              <input type="text" name="verifyCode" style="width:32px; height:18px" />
              <a href="javascript:;"><img src="{:U('Index/verify')}" width="50" height="20" style="line-height:20px" align="middle" onclick="javascript:resetVerifyCode();" id="verifyImage"/></a> <a href="javascript:;" onclick="javascript:resetVerifyCode();" >看不清？</a>
              <div style="padding-left:50px"><input type="image" src="__TMPL__images/dl.gif" width="45" height="19" align="middle" style="border:0" /> <a href="javascript:;">忘记密码？</a></div>
            </div>
            <else />
            <div class="loginTit">
            <h2>用户信息</h2>
            </div>
            <div class="loginCon">
            尊敬的用户:<span class="red">{$login.name}</span><br>
<a href="{:U('/User/index')}">设置中心</a><neq name="login.groupid" value="4"> <a href="{:U('/User/pwd')}">&nbsp;&nbsp;&nbsp;&nbsp;修改密码</a></neq>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{:U('/Index/logout')}">退出登录</a>
			</div>
            </if>
            <div class="loginBottom"></div>
        </div>
        <!--login end-->
        <!--adver begin-->
        <div class="adver"> <a href="javascript:;"><img src="__TMPL__images/adver.gif" width="217" height="90" align="absmiddle" /></a>
        </div>
        <!--adver end-->
  </div>
    <!--right end-->
</div>
<div class="clear0"></div>

<!--footer begin-->
<include file="Home:foot" />

<!--footer end-->

</body>
</html>
