<include file="Home:head" />

<!--tip begin-->
<include file="Home:user_tip" />
<!--tip end-->

<div class="clear"></div>
<div id="mainBox">
    <!--left begin-->
    <include file="Home:user_left" />
    <!--left end-->
    <!--right begin-->
  <div id="right">
    <div class="userTit"><h2>{$pagename}</h2></div>
<!--栏目-->
      <div class="userTop">
      <div class="userCenter">
      <form action="{:U('Log/index')}" method="get">
            <input type="hidden" name="g" value="{$Think.GROUP_NAME}" />
            <input type="hidden" name="m" value="{$Think.MODULE_NAME}" />
            <input type="hidden" name="a" value="{$Think.ACTION_NAME}" />
            <table  class="search_table" width="100%" align="left" bordercolor="#d1d1d1" border="1" height="60">
            <eq name="login.groupid" value="2">
            <tr>
                <td>日志类型：</td>
                <td><select name="f_type" style="width:115px">
             <option value="0" <eq name="f_type" value="0">selected</eq>>全部</option>
             <option value="1" <eq name="f_type" value="1">selected</eq>>操作日志</option>
             <option value="2" <eq name="f_type" value="2">selected</eq>>消防日志</option>
             </select></td>
             <td colspan="2">&nbsp;</td>
             </tr>
             </eq>
            <tr>
            <td>起始时间：</td>
            <td><input class="Wdate input-text"  name="starttime" type="text" onFocus="WdatePicker()" value="{$starttime}" style="width:112px" /></td>
            <td>结束时间：</td>
            <td><input class="Wdate input-text"  name="endtime" type="text" onFocus="WdatePicker()" value="{$endtime}" style="width:112px" /></td>
            </tr>
            <tr height="33">
            <td colspan="4" align="center">
                    <input type="submit" value="查询"  class="userButton" style="margin-left:50px"/>
                </td>
                </tr>
            </table>
            </form>
            <table width="100%" cellspacing="0" align="left" bordercolor="#d1d1d1" border="1" height="60">
              	<thead>
                    <tr bgcolor="#f7f7f7" height="26">
                    <th align="center">产生时间</th>
                    <th align="left">日志说明</th>  
                    </tr>
                </thead>
                <tbody>
                    <volist name="list" id="v" key="k">
              		<tr>
        			<td align=left>{$v.time|date="Y-m-d H:m:s",###}</td>
                    <td align=left><font color=red>{$v.info}</font></td>
              		</tr>
                    </volist>
                    <tr><td colspan="6" align="right" style="padding-right:10px; border-top:1px solid #cccccc">{$page}</td></tr>
              	</tbody>
            </table>
            <div style="margin-top:10px" align="center"><input type="button" class="userButton" value="导出" onclick="location.href='{:U('Log/export')}'"/></div>
      </div>
      </div>
      <div class="userBottom"></div>
  </div>
    <!--right end-->
</div>
<div class="clear0"></div>

<include file="Home:foot" />

</body>
</html>
