<include file="Home:head" />

<!--tip begin-->
<include file="Home:user_tip" />
<!--tip end-->

<div class="clear"></div>
<div id="mainBox">
    <!--left begin-->
    <include file="Home:user_left" />
    <!--left end-->
    <!--right begin-->
  <div id="right">
    <div class="userTit"><h2>{$pagename}</h2></div>
<!--栏目-->
      <div class="userTop">
      <div class="userCenter">
      <table cellpadding=0 cellspacing=0 class="table_form" width="100%" bordercolor="#d1d1d1" border="1">
            <tr>
                <td align="right" width="120"><strong>联系人电话：</strong></td>
                <td align="left"><input type="text" class="input-text"  name="pwd_old"></td>
            </tr>
            <tr>
                <td align="right"><strong>联系人姓名：</strong></td>
                <td align="left"><input type="text" class="input-text"  name="pwd_new" ></td>
            </tr>
            <tr>
                <td align="right"><strong>联系人地址：</strong></td>
                <td align="left"><input type="text" class="input-text"  name="pwd_ag" ></td>
            </tr>
            </table>
            <div style="margin-top:10px" align="center"><input type="button" class="userButton" value="提交申请" /></div>
      </div>
      </div>
      <div class="userBottom"></div>
  </div>
    <!--right end-->
</div>
<div class="clear0"></div>

<include file="Home:foot" />

</body>
</html>
