<include file="Home:head" />

<!--tip begin-->
<include file="Home:user_tip" />
<!--tip end-->

<div class="clear"></div>
<div id="mainBox">
    <!--left begin-->
    <include file="Home:user_left" />
    <!--left end-->
    <!--right begin-->
  <div id="right">
    <div class="userTit"><h2>{$pagename}</h2></div>
<!--栏目-->
      <div class="userTop">
      <div class="userCenter">
      <form id="myform" action="<if condition="$action_name=='add'">{:U('TelList/insert')}<else />{:U('TelList/update')}</if>" method="post">
      	<table cellpadding=0 cellspacing=0 class="table_form" width="100%" bordercolor="#d1d1d1" border="1">
      	<tr>
		<td width="120">所属组：</td>
		<td><select name="groupid">
        <foreach name="glist" item="g">
        <option value="{$g.id}" <eq name="g.id" value="$vo.groupid">selected</eq>>{$g.name}</option>
        </foreach>
        </select></td>
		</tr>
		
		<tr>
			<td>电话号码：</td>
			<td><input type="text" class="input-text"  name="tel" value="{$vo.tel}" ></td>
		</tr>

		</table>

		<div class="btn">
		<eq name="action_name" value="edit"><input type="hidden" name="id" value="{$vo.id}" /></eq>
		
        <input type="submit" value="保存">
		</div>

		{__TOKEN__}
      </form>
      </div>
      </div>
      <div class="userBottom"></div>
  </div>
    <!--right end-->
</div>
<div class="clear0"></div>

<include file="Home:foot" />

</body>
</html>
