<include file="Home:head" />

<!--tip begin-->
<include file="Home:user_tip" />
<!--tip end-->

<div class="clear"></div>
<div id="mainBox">
    <!--left begin-->
    <include file="Home:user_left" />
    <!--left end-->
    <!--right begin-->
  <div id="right">
    <div class="userTit"><h2>{$pagename}</h2></div>
<!--栏目-->
      <div class="userTop">
      <div class="userCenter">
      <table  class="search_table" width="100%" bordercolor="#d1d1d1" border="1" height"60">
	<tr>
		<td>
			<form action="{:U('TelList/index')}" method="get">
			<input type="hidden" name="g" value="{$Think.GROUP_NAME}" />
			<input type="hidden" name="m" value="{$Think.MODULE_NAME}" />
			<input type="hidden" name="a" value="{$Think.ACTION_NAME}" />			
			
            群组：
			<select name="groupid">
			<option value="">请选择</option>
            <foreach name="glist" item="g">
            <option value="{$g.id}" <eq name="g.id" value="$groupid">selected</eq>>{$g.name}</option>
            </foreach>
			</select>
			
			<input type="submit" value="查询"  class="button" />
			</form>
		</td>
		
	</tr>
</table>
<form name="myform" action="{:U('TelList/deleteall')}" method="post">
    <table width="100%" cellspacing="0" bordercolor="#d1d1d1" border="1">
        <thead>
      		<tr bgcolor="#f7f7f7" height="26">
      		<th width="20"><input type="checkbox"  id="check_box"  onclick="selectall('ids[]');" /></th>
			<th align="left">设置号码</th>	
			<th align="left">所属组</th>	
			<th  width="120">管理</th>
      		</tr>
      	</thead>
      	<tbody>
      		<volist name="list" id="user" key="k">
      		<tr>
      		<td align="center"><input type="checkbox" name="ids[]" value="{$user['id']}" /></td>
			<td align="center">{$user['id']}</td>
      		<td>{$user['tel']}</td>
			<td>{$user['groupname']}</td>
			<td align="center"><a href="{:U('TelList/edit',array(id=>$user['id']))}">编辑</a> | <a href="javascript:confirm_delete('{:U('TelList/delete',array(id=>$user['id']))}')">删除</a></td>      		
      		</tr>
      		</volist>
      	</tbody>
    </table>
  
    <div ><input type="submit" class="button" name="dosubmit" value="批量删除" />&nbsp;<input type="button" class="button"  value="增加电话" onClick="location.href='{:U(\'TelList/add\')}'"/></div>
</form>

<form name="myform" action="{:U('TelList/deleteall')}" method="post">
    <table width="100%" cellspacing="0">
        <thead>
            <tr>
            <th width="20"><input type="checkbox"  id="check_box"  onclick="selectall('ids[]');" /></th>
            <th align="left">设置号码</th>  
            <th align="left">所属组</th>   
            <th  width="120">管理</th>
            </tr>
        </thead>
        <tbody>
            <volist name="list" id="user" key="k">
            <tr>
            <td align="center"><input type="checkbox" name="ids[]" value="{$user['id']}" /></td>
            <td align="center">{$user['id']}</td>
            <td>{$user['tel']}</td>
            <td>{$user['groupname']}</td>
            <td align="center"><a href="{:U('TelList/edit',array(id=>$user['id']))}">编辑</a> | <a href="javascript:confirm_delete('{:U('TelList/delete',array(id=>$user['id']))}')">删除</a></td>              
            </tr>
            </volist>
        </tbody>
    </table>
  
    <div ><input type="submit" class="button" name="dosubmit" value="批量删除" />&nbsp;<input type="button" class="button"  value="增加电话" onClick="location.href='{:U(\'TelList/add\')}'"/></div>
</form>
      </div>
      </div>
      <div class="userBottom"></div>
  </div>
    <!--right end-->
</div>
<div class="clear0"></div>

<include file="Home:foot" />

</body>
</html>
