<include file="Home:user_head_notop" />

<script type="text/javascript" src="__PUBLIC__/Js/chart/ofc.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/chart/open_flash_chart.js"></script>
<script language="javascript">
var url = "{:U('Tongji/alarm')}";
var type = '{$type}';
function chg(obj,type)
{
    if(0 == type)
    {
        location.href=url+'&print=yes&type=0&year='+obj.value;
    }
    else
    {
        var year = document.getElementById('year').value;
        location.href=url+'&print=yes&type=1&year='+year+'&month='+obj.value;
    }
    
}
</script>

       <p align="center" id="hidden0">
            选择年份：
         <eq name="type" value="0">
           <select name="year" id="year" onchange="chg(this,0)">
         <else />
           <select name="year" id="year">
         </eq>
            <option value="2009" <eq name="year" value="2009">selected</eq>>2009年</option>
            <option value="2010" <eq name="year" value="2010">selected</eq>>2010年</option>
            <option value="2011" <eq name="year" value="2011">selected</eq>>2011年</option>
            <option value="2012" <eq name="year" value="2012">selected</eq>>2012年</option>
            </select>
    <eq name="type" value="1">
           选择月份：<select name="month" id="month" onchange="chg(this,1)">
            <option value="1" <eq name="month" value="1">selected</eq>>1月</option>
            <option value="2" <eq name="month" value="2">selected</eq>>2月</option>
            <option value="3" <eq name="month" value="3">selected</eq>>3月</option>
            <option value="4" <eq name="month" value="4">selected</eq>>4月</option>
            <option value="5" <eq name="month" value="5">selected</eq>>5月</option>
            <option value="6" <eq name="month" value="6">selected</eq>>6月</option>
            <option value="7" <eq name="month" value="7">selected</eq>>7月</option>
            <option value="8" <eq name="month" value="8">selected</eq>>8月</option>
            <option value="9" <eq name="month" value="9">selected</eq>>9月</option>
            <option value="10" <eq name="month" value="10">selected</eq>>10月</option>
            <option value="11" <eq name="month" value="11">selected</eq>>11月</option>
            <option value="12" <eq name="month" value="12">selected</eq>>12月</option>
            </select>
         </eq>
            </p>
            <div id="tongji" align="center"></div>
            <div style="margin-top:10px"  align="center" id="hidden1"><input type="button" class="userButton" value="打印"  onclick="myprint()"/>&nbsp;&nbsp;<input type="button" class="userButton" value="返回"  onclick="window.location='{:U('Tongji/alarm')}'"/></div>
     

<script language="javascript">
var data = {$data};

function open_flash_chart_data()
{
    return JSON.stringify(data);
}
function ofc_ready()
{
}
var so = new SWFObject("__PUBLIC__/Js/chart/open-flash-chart.swf", "ofc", "650", "400", "9", "#FFFFFF");

so.write("tongji");

if(type == '1')
{
	document.title = document.getElementById('year').value+"年" + document.getElementById('month').value + "月新增报警统计报表"
}
else
{
	document.title = document.getElementById('year').value+"年新增报警统计报表"
}


function myprint()
{
	document.getElementById('hidden0').style.display="none";
	document.getElementById('hidden1').style.display="none";
	window.print();
}
</script>
</body>
</html>
