<include file="Home:head" />

<!--tip begin-->
<include file="Home:user_tip" />
<!--tip end-->

<script type="text/javascript" src="__PUBLIC__/Js/chart/ofc.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/chart/open_flash_chart.js"></script>
<script language="javascript">
var url = "{:U('Tongji/alarm')}";
function chg(obj,type)
{
	if(0 == type)
	{
		location.href=url+'&type=0&year='+obj.value;
	}
	else
	{
		var year = document.getElementById('year').value;
		location.href=url+'&type=1&year='+year+'&month='+obj.value;
	}
    
}
</script>
<div class="clear"></div>
<div id="mainBox">
    <!--left begin-->
    <include file="Home:user_left" />
    <!--left end-->
    <!--right begin-->
  <div id="right">
    <div class="userTit"><h2>{$pagename}</h2></div>
<!--栏目-->
      <div class="userTop">
      <div class="userCenter">
      <p align="left">
          选择年份：
         <eq name="type" value="0">
           <select name="year" id="year" onchange="chg(this,0)">
         <else />
           <select name="year" id="year">
         </eq>
            <option value="2009" <eq name="year" value="2009">selected</eq>>2009年</option>
            <option value="2010" <eq name="year" value="2010">selected</eq>>2010年</option>
            <option value="2011" <eq name="year" value="2011">selected</eq>>2011年</option>
            <option value="2012" <eq name="year" value="2012">selected</eq>>2012年</option>
            </select>
    <eq name="type" value="1">
           选择月份：<select name="month" onchange="chg(this,1)">
            <option value="1" <eq name="month" value="1">selected</eq>>1月</option>
            <option value="2" <eq name="month" value="2">selected</eq>>2月</option>
            <option value="3" <eq name="month" value="3">selected</eq>>3月</option>
            <option value="4" <eq name="month" value="4">selected</eq>>4月</option>
            <option value="5" <eq name="month" value="5">selected</eq>>5月</option>
            <option value="6" <eq name="month" value="6">selected</eq>>6月</option>
            <option value="7" <eq name="month" value="7">selected</eq>>7月</option>
            <option value="8" <eq name="month" value="8">selected</eq>>8月</option>
            <option value="9" <eq name="month" value="9">selected</eq>>9月</option>
            <option value="10" <eq name="month" value="10">selected</eq>>10月</option>
            <option value="11" <eq name="month" value="11">selected</eq>>11月</option>
            <option value="12" <eq name="month" value="12">selected</eq>>12月</option>
            </select>
         </eq>
          </p>
            <div id="tongji"></div>
             <!-- <img id="imgpanel" src="__TMPL__images/alarm2.jpg" border="0" /> -->
            <div style="margin-top:10px" align="center"><input type="button" class="userButton" value="按年份统计" onclick="location.href='{:U('Tongji/alarm',array('type'=>0,'year'=>$year))}'"/>&nbsp;&nbsp;<input type="button" class="userButton" value="按月份统计"  onclick="location.href='{:U('Tongji/alarm',array('type'=>1,'month'=>$month))}'"/>&nbsp;&nbsp;<input type="button" class="userButton" value="打印" onclick="window.location.href='{:U('Tongji/alarm',array('print'=>'yes','type'=>$type))}'"/></div>
      </div>
      </div>
      <div class="userBottom"></div>
  </div>
    <!--right end-->
</div>
<div class="clear0"></div>

<include file="Home:foot" />

<script language="javascript">
var data = {$data};

function open_flash_chart_data()
{
    return JSON.stringify(data);
}
function ofc_ready()
{
}
var so = new SWFObject("__PUBLIC__/Js/chart/open-flash-chart.swf", "ofc", "650", "400", "9", "#FFFFFF");

so.write("tongji");
</script>
</body>
</html>
