<include file="Home:head" />

<!--tip begin-->
<include file="Home:user_tip" />
<!--tip end-->

<script type="text/javascript" src="__PUBLIC__/Js/chart/ofc.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/chart/open_flash_chart.js"></script>
<script language="javascript">
var url = "{:U('Tongji/devices')}";
function chg(obj)
{
	location.href=url+'&year='+obj.value;
}
</script>
<div class="clear"></div>
<div id="mainBox">
    <!--left begin-->
    <include file="Home:user_left" />
    <!--left end-->
    <!--right begin-->
  <div id="right">
    <div class="userTit"><h2>{$pagename}</h2></div>
<!--栏目-->
      <div class="userTop">
      <div class="userCenter">
      <p align="left">
            选择年份：<select name="year" onchange="chg(this)">
            <option value="2009" <eq name="year" value="2009">selected</eq>>2009年</option>
            <option value="2010" <eq name="year" value="2010">selected</eq>>2010年</option>
            <option value="2011" <eq name="year" value="2011">selected</eq>>2011年</option>
            <option value="2012" <eq name="year" value="2012">selected</eq>>2012年</option>
            </select>
            </p>
            <div id="tongji"></div>
            <div style="margin-top:10px" align="center"><input type="button" class="userButton" value="打印"  onclick="window.location.href='{:U('Tongji/devices',array('print'=>'yes'))}'"/></div>
      </div>
      </div>
      <div class="userBottom"></div>
  </div>
    <!--right end-->
</div>
<div class="clear0"></div>

<include file="Home:foot" />

<script language="javascript">
var data = {$data};


function open_flash_chart_data()
{
    return JSON.stringify(data);
}
function ofc_ready()
{
    // tmp = findSWF("ofc");
    // x = tmp.load( JSON.stringify(data) );
}
function load()
{
  tmp = findSWF("ofc");
  x = tmp.load( JSON.stringify(data_2) );
}
var so = new SWFObject("__PUBLIC__/Js/chart/open-flash-chart.swf", "ofc", "650", "400", "9", "#FFFFFF");

so.write("tongji");
</script>
</body>
</html>
