<include file="Home:user_head_notop" />

<script type="text/javascript" src="__PUBLIC__/Js/chart/ofc.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/chart/open_flash_chart.js"></script>
<script language="javascript">
var url = "{:U('Tongji/devices')}";
function chg(obj)
{
    location.href=url+'&print=yes&year='+obj.value;
}
</script>

       <p align="center" id="hidden0">
            选择年份：<select name="year" onchange="chg(this)" id="year">
            <option value="2009" <eq name="year" value="2009">selected</eq>>2009年</option>
            <option value="2010" <eq name="year" value="2010">selected</eq>>2010年</option>
            <option value="2011" <eq name="year" value="2011">selected</eq>>2011年</option>
            <option value="2012" <eq name="year" value="2012">selected</eq>>2012年</option>
            </select>
            </p>
            <div id="tongji" align="center"></div>
            <div style="margin-top:10px"  align="center" id="hidden1"><input type="button" class="userButton" value="打印"  onclick="myprint()"/>&nbsp;&nbsp;<input type="button" class="userButton" value="返回"  onclick="window.location='{:U('Tongji/devices')}'"/></div>
     

<script language="javascript">
var data = {$data};


function open_flash_chart_data()
{
    return JSON.stringify(data);
}
function ofc_ready()
{
    // tmp = findSWF("ofc");
    // x = tmp.load( JSON.stringify(data) );
}
function load()
{
  tmp = findSWF("ofc");
  x = tmp.load( JSON.stringify(data_2) );
}
var so = new SWFObject("__PUBLIC__/Js/chart/open-flash-chart.swf", "ofc", "650", "400", "9", "#FFFFFF");

so.write("tongji");

document.title = document.getElementById('year').value+"年新增电信智能电话统计信息报表"

function myprint()
{
	document.getElementById('hidden0').style.display="none";
	document.getElementById('hidden1').style.display="none";
	window.print();
}
</script>
</body>
</html>
