<include file="Home:user_head_notop" />
{//消防用户}
      <eq name="login.groupid" value="2">
<table border="1" cellspacing="0" bordercolor="#d1d1d1" cellpadding="0" width="680" align="center">
              <tbody>
                <tr>
                  <th height="26" colspan="2" align="left" bgcolor="#f7f7f7"> <strong>用户保有量信息</strong></th>
                </tr>
                <tr>
                  <td width="30%" height="26" align="left"> 商户数量</td>
                  <td width="70%" height="26" align="left"><span class="red"><strong>{$list.user}</strong></span></td>
                </tr>
                <tr>
                  <td width="30%" height="26" align="left"> 智能电话数量</td>
                  <td width="70%" height="26" align="left"><strong class="red">{$list.devices}</strong></td>
                </tr>
                <tr>
                  <td width="30%" height="26" align="left"> 烟感器数量</td>
                  <td width="70%" height="26" align="left"><strong class="red">{$list.alpha}</strong></td>
                </tr>
              </tbody>
            </table>
            <table border="1" cellspacing="0" bordercolor="#d1d1d1" cellpadding="0" width="680"  align="center">
          <tbody>
            <tr>
              <td height="26" colspan="4" align="left" bgcolor="#f7f7f7"><strong>本月统计信息</strong></td>
            </tr>
            <tr>
              <td width="25%" height="26" align="left">新安装智能电话数量</td>
              <td width="25%" height="26" align="left"> <strong class="red">{$list.devices_month}</strong></td>
              <td width="25%" height="26" align="left">新安装烟感器数量</td>
              <td width="25%" height="26" align="left"><strong class="red">{$list.alpha_month}</strong></td>
            </tr>
            <tr>
              <td width="25%" height="26" align="left">减少智能电话数量</td>
              <td width="25%" height="26" align="left"><strong class="red">{$list.devices_month_remove}</strong></td>
              <td width="25%" height="26" align="left">减少烟感器</td>
              <td width="25%" height="26" align="left"><strong class="red">{$list.alpha_month_remove}</strong></td>
            </tr>
            <tr>
              <td width="25%" height="26" align="left">系统报警数量</td>
              <td width="25%" height="26" align="left"><strong class="red">{$list.firelist}</strong></td>
              <td width="25%" height="26" align="left">误报数量</td>
              <td width="25%" height="26" align="left"><strong class="red">{$list.firelist_error}</strong>(误报率<strong class="red">{$list.firelist_pre}</strong>%)</td>
            </tr>
            <tr>
              <td width="25%" height="26" align="left">企业数量</td>
              <td width="25%" height="26" align="left"><strong class="red">{$list.user}</strong></td>
              <td width="25%" height="26" align="left">企业类型</td>
              <td width="25%" height="26" align="left"><foreach name="list.user_type" item="v">
                &nbsp;&nbsp;{$v.name}<strong class="red">{$v.count}</strong>个
                </foreach></td>
            </tr>
            <tr>
              <td width="25%" height="26" align="left">巡检智能电话</td>
              <td width="25%" height="26" align="left"><strong class="red">{$list.check_month}</strong></td>
              <td width="25%" height="26" align="left">故障智能电话</td>
              <td width="25%" height="26" align="left"><strong class="red">{$list.check_error_month}</strong></td>
            </tr>
            <tr id="hidden0" height="33">
              <td height="26" colspan="4" align="center"><input class="userButton" value="打印" type="button" onclick="myprint()"/>&nbsp;&nbsp;<input type="button" class="userButton" value="返回"  onclick="window.location='{:U('User/index')}'"/></td>
            </tr>
          </tbody>
        </table>
        <script type="text/javascript">
        document.title = "消防用户管理后台统计信息表"
        </script>
</eq>
        {//电信用户}
        <eq name="login.groupid" value="4">
        <table border="1" cellspacing="0" align="center" bordercolor="#d1d1d1" cellpadding="0" width="680">
              <tbody>
                <tr>
                  <th height="26" colspan="2" align="left" bgcolor="#f7f7f7"> <strong>用户保有量信息</strong></th>
                </tr>
                <tr>
                  <td width="30%" height="26" align="left"> 商户数量</td>
                  <td width="70%" height="26" align="left"><span class="red"><strong>{$list.user}</strong></span></td>
                </tr>
                <tr>
                  <td width="30%" height="26" align="left"> 智能电话数量</td>
                  <td width="70%" height="26" align="left"><strong class="red">{$list.devices}</strong></td>
                </tr>
                <tr>
                  <td width="30%" height="26" align="left"> 烟感器数量</td>
                  <td width="70%" height="26" align="left"><strong class="red">{$list.alpha}</strong></td>
                </tr>
              </tbody>
            </table>
            <table border="1" cellspacing="0" align="center" bordercolor="#d1d1d1" cellpadding="0" width="680">
          <tbody>
            <tr>
              <td height="26" colspan="4" align="left" bgcolor="#f7f7f7"><strong>本月统计信息</strong></td>
            </tr>
            <tr>
              <td width="25%" height="26" align="left">申请开户数</td>
              <td width="25%" height="26" align="left"> <strong class="red">{$list.user_month}</strong></td>
              <td width="25%" height="26" align="left">新安装智能电话数量</td>
              <td width="25%" height="26" align="left"><strong class="red">{$list.devices_month}</strong></td>
            </tr>
            <tr>
              <td width="25%" height="26" align="left">新安装烟感器数量</td>
              <td width="25%" height="26" align="left"><strong class="red">{$list.alpha_month}</strong></td>
              <td width="25%" height="26" align="left">派单数量</td>
              <td width="25%" height="26" align="left"><strong class="red">0</strong></td>
            </tr>
            <tr>
              <td width="25%" height="26" align="left">报故障数量</td>
              <td width="25%" height="26" align="left"><strong class="red">0</strong></td>
              <td width="25%" height="26" align="left">已修复数量</td>
              <td width="25%" height="26" align="left"><strong class="red">0</strong></td>
            </tr>
            <tr>
              <td width="25%" height="26" align="left">需巡检智能电话数量</td>
              <td width="25%" height="26" align="left"><strong class="red">0</strong></td>
              <td width="25%" height="26" align="left">已巡检智能电话数量</td>
              <td width="25%" height="26" align="left"><strong class="red">0</strong></td>
            </tr>
            <tr>
              <td width="25%" height="26" align="left">修复智能电话数量</td>
              <td width="25%" height="26" align="left"><strong class="red">0</strong></td>
              <td width="25%" height="26" align="left">&nbsp;</td>
              <td width="25%" height="26" align="left">&nbsp;</td>
            </tr>
            <tr id="hidden0" height="33">
              <td height="26" colspan="4" align="center"><input class="userButton" value="打印" type="button" onclick="myprint()"/>&nbsp;&nbsp;<input type="button" class="userButton" value="返回"  onclick="window.location='{:U('User/index')}'"/></td>
            </tr>
          </tbody>
        </table>
        <script type="text/javascript">
        document.title = "电信用户管理后台统计信息表"
        </script>
        </eq>

<script language="javascript">
function myprint()
{
	document.getElementById('hidden0').style.display="none";
	window.print();
}
</script>
</body>
</html>
