<include file="Home:head" />

<!--tip begin-->
<include file="Home:user_tip" />
<!--tip end-->

<div class="clear"></div>
<div id="mainBox">
    <!--left begin-->
    <include file="Home:user_left" />
    <!--left end-->
    <!--right begin-->
  <div id="right">
    <div class="userTit"><h2>{$pagename}</h2></div>
<!--栏目-->
      <div class="userTop">
      <div class="userCenter">
      <form action="{:U('User/ulist')}" method="get">
            <input type="hidden" name="g" value="{$Think.GROUP_NAME}" />
            <input type="hidden" name="m" value="{$Think.MODULE_NAME}" />
            <input type="hidden" name="a" value="{$Think.ACTION_NAME}" />
            <table  class="search_table" width="100%" border="1" bordercolor="#d1d1d1">
            <tr>
                <td>区域：</td>
                <td><select name="area" style="width:105px">
             <option value="" selected>全部</option>
             </select></td>
            <td>企业性质：</td>
            <td><select name="company_type" style="width:105px">
             <option value="" <eq name="company_type" value="0">selected</eq>>全部</option>
             <foreach name="company_type_list" item="v">
             <option value="{$v.id}" <eq name="v['id']" value="$company_type">selected</eq>>{$v.name}</option>
             </foreach>
             </select></td>
            <td>公司名称：</td>
            <td> <input type="text" name="keyword"  class="input-text" value="{$keyword}" /></td>
            </tr>
            <tr height="33" align="center">
            <td colspan="6"><input type="submit" value="查询"  class="userButton" style="margin-left:25px"/>
                </td>
            </tr>
        </table>
        </form>
			<table width="100%" cellspacing="0" border="1" bordercolor="#d1d1d1">
                <thead>
                    <tr bgcolor="#f7f7f7" height="26">
                    <th align="center"><a href="#">全选</a></th>
                    <th align="center">商户名称</th>
                    <th align="center">公司名称</th>
                    <th align="center">企业性质</th>  
                    <th align="center" >联系人</th>
                    <th align="center" >联系电话</th>
                    <th align="center">单位地址</th>  
                    <th align="center">管理</th>  
                    </tr>
                </thead>
                <tbody>
                    <volist name="list" id="v" key="k">
                    <tr>
                    <td align="center"><input type="checkbox" name="id[]" value="{$v.id}" /></td>
                    <td align="center">{$v.name}</td>
                    <td align="center">{$v.companyname}</td>
                    <td align="center">{$v.companytypename}</td>
                    <td align="center">{$v.realname}</td>
                    <td align="center">{$v.telephone}</td>
                    <td align="center">{$v.address}</td>            
                    <td align="center"><a href="javascript:showJbox('{:U('User/show',array('id'=>$v['id']))}','商户详细资料',400,250)">查看</a><eq name="login.groupid" value="2"> | <a href="{:U('Devices/index',array('userid'=>$v['id']))}">设备信息</a></eq> | <a href="javascript:showJbox('{:U('Guestbook/send',array('id'=>$v['id']))}','发送邮件',500,300)">邮件</a></td>
                    </tr>
                    </volist>
                    
                    <tr><td colspan="10" align="right" style="padding-right:10px; border-top:1px solid #cccccc">{$page}</td></tr>
                </tbody>
            </table>
            <div style="margin-top:10px" align="center"><input type="button" class="userButton" value="导出" onclick="location.href='{:U('User/export')}'" />&nbsp;<input type="button" class="userButton" value="批量邮件" onclick="showJbox('{:U('Guestbook/send',array('id'=>$v['id']))}','批量发送邮件',500,300)""/></div>
      </div>
      </div>
      <div class="userBottom"></div>
  </div>
    <!--right end-->
</div>
<div class="clear0"></div>

<include file="Home:foot" />

</body>
</html>
