<include file="Home:head" />

<!--tip begin-->
<include file="Home:user_tip" />
<!--tip end-->

<div class="clear"></div>
<div id="mainBox">
    <!--left begin-->
    <include file="Home:user_left" />
    <!--left end-->
    <!--right begin-->
  <div id="right">
    <div class="userTit2"><h2>{$pagename}</h2></div>
<!--栏目-->
      <div class="userTop">
      <div class="userCenter">
      <form id="myform" action="{:U('User/pwdupdate')}" method="post" onsubmit="return Validator.vali(this,2)">
	        <table cellpadding=0 cellspacing=0 class="table_form" width="100%" bordercolor="#d1d1d1" border="1">
	        <tr>
	            <td align="right" width="120"><strong>旧 密 码：</strong></td>
	            <td align="left"><input type="password" class="input-text"  name="pwd_old" dataType="LimitB" min="1" max="20" msg="原密码必须为1-20字符"></td>
	        </tr>
	        <tr>
	            <td align="right"><strong>新 密 码：</strong></td>
	            <td align="left"><input type="password" class="input-text"  name="pwd_new"  dataType="LimitB" min="1" max="20" msg="新密码必须为1-20字符"></td>
	        </tr>
	        <tr>
	            <td align="right"><strong>确认密码：</strong></td>
	            <td align="left"><input type="password" class="input-text"  name="pwd_ag"  dataType="Repeat" to="pwd_new" msg="第二次输入密码不正确"></td>
	        </tr>
	        </table>
	
	        
	        <input type="hidden" name="id" value="{$login.id}" />
            <br>
            <br>
            {__TOKEN__}
	        <p align="center"><input type="submit" class="userButton" value="保存" /></p>
	      </form>
      </div>
      </div>
      <div class="userBottom"></div>
  </div>
    <!--right end-->
</div>
<div class="clear0"></div>

<include file="Home:foot" />

</body>
</html>
