<include file="Home:user_head_notop" />

      <p><strong>公司名称</strong>：&nbsp;&nbsp;{$vo.companyname}</p>
			<p><strong>电话</strong>：&nbsp;&nbsp;{$vo.telephone}</p>
			<p><strong>注册名称</strong>：&nbsp;&nbsp;{$vo.name}</p>
			<p><strong>真实姓名</strong>：&nbsp;&nbsp;{$vo.realname}</p>
			<p><strong>移动电话</strong>：&nbsp;&nbsp;{$vo.mobile}</p>
			<p><strong>电子邮箱</strong>：&nbsp;&nbsp;{$vo.email}</p>
			<p><strong>公司性质</strong>：&nbsp;&nbsp;{$vo.companytype_name}</p>
			<p><strong>单位地址</strong>：&nbsp;&nbsp;{$vo.address}</p>
			<p><strong>注册时间</strong>：&nbsp;&nbsp;{$vo.createtime|date="Y/m/d H:i:s",###}</p>

</body>
</html>
