<!--tip begin-->
<div id="tip">
<h3 class="white"><span style="display:block;float:left">欢迎您，<span class="red">{$login.name}</span>！ <a href="{:U('Index/logout')}" class="white">退出</a></span><eq name="login.groupid" value="3">
<php>if(count($marqueelist)>0){</php>
<span style="width:450px;display:block;float:left; margin-left:45px; font-weight:400" class="red">
<marquee direction="left" loop="-1" scrollamount="3">
<foreach name="marqueelist" item="v">
{$v}&nbsp;&nbsp;
</foreach>
</marquee></span>
<php>}</php>
</eq></h3>
<div class="nav"><a href="{:U('Index/index')}">网站首页</a> > <a href="{:U('User/index')}">会员中心</a> > <span class="red">{$pagename}</span><eq name="ACTION_NAME" value="edit"> > <span class="red">修改</span></eq><eq name="ACTION_NAME" value="add"> > <span class="red">增加</span></eq></div>
</div>
<div class="tipBottom"></div>
<!--tip end-->
