<include file="Home:head" />

<!--tip begin-->
<include file="Home:user_tip" />
<!--tip end-->

<div class="clear"></div>
<div id="mainBox">
    <!--left begin-->
    <include file="Home:user_left" />
    <!--left end-->
    <!--right begin-->
  <div id="right">
    <div class="userTit"><h2>{$pagename}</h2></div>
<!--栏目-->
      <div class="userTop">
      <div class="userCenter">
      <form id="myform" action="{:U('User/update')}" method="post">
	        <table cellpadding=0 cellspacing=0 class="table_form" width="100%" align="left">
            <tr align="left">
                <td align="right" class="bold" width="15%">发件人姓名：</td>
                <td align="left"><input type="text" class="input-text"  name="realname" value="{$login.realname}" ></td>
            </tr>
            <tr>
                <td align="right" class="bold">发件人邮箱：</td>
                <td align="left"><input type="text" class="input-text"  name="mobile" value="{$login.mobile}" disabled ></td>
            </tr>
            <tr>
                <td align="right" class="bold">服务器地址：</td>
                <td align="left"><input type="text" class="input-text"  name="companyname" value="{$login.companyname}" ></td>
            </tr>
            
            <tr>
                <td align="right" class="bold">登录用户：</td>
                <td align="left"><input type="text" class="input-text"  name="tel" value="{$login.tel}"></td>
            </tr>
            <tr>
                <td align="right" class="bold">登录密码：</td>
                <td align="left"><input type="text" class="input-text"  name="mobile" value="{$login.mobile}"></td>
            </tr>
    
            </table>
            {__TOKEN__}
            <input type="submit" class="userButton" value="保存" />&nbsp;&nbsp;<input type="submit" class="userButton" value="测试" />
          </form>
      </div>
      </div>
      <div class="userBottom"></div>
  </div>
    <!--right end-->
</div>
<div class="clear0"></div>

<include file="Home:foot" />

</body>
</html>
