<include file="Home:head" />

<!--tip begin-->
<include file="Home:user_tip" />
<!--tip end-->

<div class="clear"></div>
<div id="mainBox">
    <!--left begin-->
    <include file="Home:user_left" />
    <!--left end-->
    <!--right begin-->
  <div id="right">
    <div class="userTit"><h2>{$pagename}</h2></div>
<!--栏目-->
      <div class="userTop">
      <div class="userCenter">
      {//消防用户}
      <eq name="login.groupid" value="2">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td><table border="1" cellspacing="0" bordercolor="#d1d1d1" cellpadding="0" width="335">
              <tbody>
                <tr>
                  <th height="26" colspan="2" align="left" bgcolor="#f7f7f7"><strong>当前用户信息</strong></th>
                </tr>
                <tr>
                  <td width="30%" height="26" align="left">用户类型</td>
                  <td width="70%" height="26" align="left"><strong class="red">{$login.groupname}</strong></td>
                </tr>
                <tr>
                  <td width="30%" height="26" align="left">登录时间</td>
                  <td width="70%" height="26" align="left"><span class="red"><strong>{$login.lastlogintime|date="Y-m-d H:i:s",###}</strong></span></td>
                </tr>
                <tr>
                  <td width="30%" height="26" align="left">登录次数</td>
                  <td width="70%" height="26" align="left"><strong class="red">{$login.logincount}</strong> 次</td>
                </tr>
              </tbody>
            </table></td>
            <td align="right"><table border="1" cellspacing="0" bordercolor="#d1d1d1" cellpadding="0" width="335">
              <tbody>
                <tr>
                  <th height="26" colspan="2" align="left" bgcolor="#f7f7f7"> <strong>用户保有量信息</strong></th>
                </tr>
                <tr>
                  <td width="30%" height="26" align="left"> 商户数量</td>
                  <td width="70%" height="26" align="left"><span class="red"><strong>{$list.user}</strong></span></td>
                </tr>
                <tr>
                  <td width="30%" height="26" align="left"> 智能电话数量</td>
                  <td width="70%" height="26" align="left"><strong class="red">{$list.devices}</strong></td>
                </tr>
                <tr>
                  <td width="30%" height="26" align="left"> 烟感器数量</td>
                  <td width="70%" height="26" align="left"><strong class="red">{$list.alpha}</strong></td>
                </tr>
              </tbody>
            </table></td>
          </tr>
        </table>
        <p>&nbsp;</p>
        <table border="1" cellspacing="0" bordercolor="#d1d1d1" cellpadding="0" width="680">
          <tbody>
            <tr>
              <td height="26" colspan="4" align="left" bgcolor="#f7f7f7"><strong>本月统计信息</strong></td>
            </tr>
            <tr>
              <td width="25%" height="26" align="left">新安装智能电话数量</td>
              <td width="25%" height="26" align="left"> <strong class="red">{$list.devices_month}</strong></td>
              <td width="25%" height="26" align="left">新安装烟感器数量</td>
              <td width="25%" height="26" align="left"><strong class="red">{$list.alpha_month}</strong></td>
            </tr>
            <tr>
              <td width="25%" height="26" align="left">减少智能电话数量</td>
              <td width="25%" height="26" align="left"><strong class="red">{$list.devices_month_remove}</strong></td>
              <td width="25%" height="26" align="left">减少烟感器</td>
              <td width="25%" height="26" align="left"><strong class="red">{$list.alpha_month_remove}</strong></td>
            </tr>
            <tr>
              <td width="25%" height="26" align="left">系统报警数量</td>
              <td width="25%" height="26" align="left"><strong class="red">{$list.firelist}</strong></td>
              <td width="25%" height="26" align="left">误报数量</td>
              <td width="25%" height="26" align="left"><strong class="red">{$list.firelist_error}</strong>(误报率<strong class="red">{$list.firelist_pre}</strong>%)</td>
            </tr>
            <tr>
              <td width="25%" height="26" align="left">企业数量</td>
              <td width="25%" height="26" align="left"><strong class="red">{$list.user}</strong></td>
              <td width="25%" height="26" align="left">企业类型</td>
              <td width="25%" height="26" align="left"><foreach name="list.user_type" item="v">
                &nbsp;&nbsp;{$v.name}<strong class="red">{$v.count}</strong>个
                </foreach></td>
            </tr>
            <tr>
              <td width="25%" height="26" align="left">巡检智能电话</td>
              <td width="25%" height="26" align="left"><strong class="red">{$list.check_month}</strong></td>
              <td width="25%" height="26" align="left">故障智能电话</td>
              <td width="25%" height="26" align="left"><strong class="red">{$list.check_error_month}</strong></td>
            </tr>
            <tr id="print_xiaofang" height="33">
              <td height="26" colspan="4" align="middle"><input class="userButton" value="打印" type="button" onclick="window.location.href='{:U('User/index',array('print'=>'yes'))}'"/></td>
            </tr>
          </tbody>
        </table>
        </eq>
        {//电信用户}
        <eq name="login.groupid" value="4">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td><table border="1" cellspacing="0" bordercolor="#d1d1d1" cellpadding="0" width="335">
              <tbody>
                <tr>
                  <th height="26" colspan="2" align="left" bgcolor="#f7f7f7"><strong>当前用户信息</strong></th>
                </tr>
                <tr>
                  <td width="30%" height="26" align="left">用户类型</td>
                  <td width="70%" height="26" align="left"><strong class="red">{$login.groupname}</strong></td>
                </tr>
                <tr>
                  <td width="30%" height="26" align="left">登录时间</td>
                  <td width="70%" height="26" align="left"><span class="red"><strong>{$login.lastlogintime|date="Y-m-d H:i:s",###}</strong></span></td>
                </tr>
                <tr>
                  <td width="30%" height="26" align="left">登录次数</td>
                  <td width="70%" height="26" align="left"><strong class="red">{$login.logincount}</strong> 次</td>
                </tr>
              </tbody>
            </table></td>
            <td align="right"><table border="1" cellspacing="0" bordercolor="#d1d1d1" cellpadding="0" width="335">
              <tbody>
                <tr>
                  <th height="26" colspan="2" align="left" bgcolor="#f7f7f7"> <strong>用户保有量信息</strong></th>
                </tr>
                <tr>
                  <td width="30%" height="26" align="left"> 商户数量</td>
                  <td width="70%" height="26" align="left"><span class="red"><strong>{$list.user}</strong></span></td>
                </tr>
                <tr>
                  <td width="30%" height="26" align="left"> 智能电话数量</td>
                  <td width="70%" height="26" align="left"><strong class="red">{$list.devices}</strong></td>
                </tr>
                <tr>
                  <td width="30%" height="26" align="left"> 烟感器数量</td>
                  <td width="70%" height="26" align="left"><strong class="red">{$list.alpha}</strong></td>
                </tr>
              </tbody>
            </table></td>
          </tr>
        </table>
        <p>&nbsp;</p>
        <table border="1" cellspacing="0" bordercolor="#d1d1d1" cellpadding="0" width="680">
          <tbody>
            <tr>
              <td height="26" colspan="4" align="left" bgcolor="#f7f7f7"><strong>本月统计信息</strong></td>
            </tr>
            <tr>
              <td width="25%" height="26" align="left">申请开户数</td>
              <td width="25%" height="26" align="left"> <strong class="red">{$list.user_month}</strong></td>
              <td width="25%" height="26" align="left">新安装智能电话数量</td>
              <td width="25%" height="26" align="left"><strong class="red">{$list.devices_month}</strong></td>
            </tr>
            <tr>
              <td width="25%" height="26" align="left">新安装烟感器数量</td>
              <td width="25%" height="26" align="left"><strong class="red">{$list.alpha_month}</strong></td>
              <td width="25%" height="26" align="left">派单数量</td>
              <td width="25%" height="26" align="left"><strong class="red">0</strong></td>
            </tr>
            <tr>
              <td width="25%" height="26" align="left">报故障数量</td>
              <td width="25%" height="26" align="left"><strong class="red">0</strong></td>
              <td width="25%" height="26" align="left">已修复数量</td>
              <td width="25%" height="26" align="left"><strong class="red">0</strong></td>
            </tr>
            <tr>
              <td width="25%" height="26" align="left">需巡检智能电话数量</td>
              <td width="25%" height="26" align="left"><strong class="red">0</strong></td>
              <td width="25%" height="26" align="left">已巡检智能电话数量</td>
              <td width="25%" height="26" align="left"><strong class="red">0</strong></td>
            </tr>
            <tr>
              <td width="25%" height="26" align="left">修复智能电话数量</td>
              <td width="25%" height="26" align="left"><strong class="red">0</strong></td>
              <td width="25%" height="26" align="left">&nbsp;</td>
              <td width="25%" height="26" align="left">&nbsp;</td>
            </tr>
            <tr id="print_xiaofang" height="33">
              <td height="26" colspan="4" align="middle"><input class="userButton" value="打印" type="button" onclick="window.location.href='{:U('User/index',array('print'=>'yes'))}'"/></td>
            </tr>
          </tbody>
        </table>
        </eq>
        {//商户}
        <eq name="login.groupid" value="3">
        <p style="line-height:28px;margin:0;padding:0">欢迎登录，当前您是  <b class="red">{$login.groupname}</b>，上一次登录时间：<b class="red">{$login.lastlogintime|date="Y-m-d H:i:s",###}</b>，您是第 <b class="red">{$login.logincount}</b> 次登录系统</p>
            <p style="line-height:28px;margin:0;padding:0">当前您已安装了<b class="red">{$list.devices}</b> 个电信智能电话、 <b class="red">{$list.alpha}</b> 个烟感器</p>
        </eq>
      </div>
      </div>
      <div class="userBottom"></div>
  </div>
    <!--right end-->
</div>
<div class="clear0"></div>

<include file="Home:foot" />

</body>
</html>
