<include file="Home:head" />

<!--tip begin-->
<include file="Home:user_tip" />
<!--tip end-->

<script language="javascript">
var province={$province};
var city={$city};
var COMM_area={$area};
var area_id = '{$login.domaininfo_id}';//当前选择的地区
var rankpath = '{$login.rankpath}';
var rankpath_arr = rankpath.split(',');
var province_id = rankpath_arr[0];//当前选择的省份

var city_id = 0;
if(rankpath_arr.length > 1)
{
	city_id = rankpath_arr[1];//当前选择的城市
}

function chgOption(obj,data,parent_id,v)
{
	clearOption(obj);//清除所有的下拉列表
	var i = 0;
	var opt;
	for(i=0;i<data.length;i++)
	{
	    if(data[i].parentsid == parent_id)
	    {
	    	opt = new Option(data[i].name,data[i].id);
	    	if(v == data[i].id)
	    	{
	    		opt.setAttribute('selected','selected');
	    	}
	    	obj.add(opt);
	    }
	}
}

function clearOption(obj)
{
	obj.options.length = 0;
}
</script>
<div class="clear"></div>
<div id="mainBox">
    <!--left begin-->
    <include file="Home:user_left" />
    <!--left end-->
    <!--right begin-->
  <div id="right">
    <div class="userTit2"><h2>{$pagename}</h2></div>
<!--栏目-->
      <div class="userTop">
      <div class="userCenter">
      <form id="myform" action="{:U('User/update')}" method="post">
	        <table cellpadding=0 cellspacing=0 class="table_form" width="100%" bordercolor="#d1d1d1" border="1">
            <tr>
            <td width="120" align="right" class="bold">用 户 名：</td>
            <td align="left">{$login.name}<eq name="login.groupid" value="3">&nbsp;&nbsp;&nbsp;&nbsp;身份证：{$login.idcardnumber}</eq></td>
            </tr>
            
            <tr>
                <td align="right" class="bold">真实姓名：</td>
                <td align="left"><input type="text" class="input-text"  name="realname" value="{$login.realname}" ></td>
            </tr>
            <!-- <tr>
                <td align="right" class="bold">身份证号码：</td>
                <td align="left"><input type="text" class="input-text"  name="idcardnumber" value="{$login.idcardnumber}" disabled ></td>
            </tr> -->
            <tr>
                <td align="right" class="bold">公司名称：</td>
                <td align="left"><input type="text" class="input-text"  name="companyname" value="{$login.companyname}" ></td>
            </tr>
            
            <tr>
                <td align="right" class="bold">联系电话：</td>
                <td align="left"><input type="text" class="input-text"  name="telephone" value="{$login.telephone}"></td>
            </tr>
            <tr>
                <td align="right" class="bold">联系手机：</td>
                <td align="left"><input type="text" class="input-text"  name="mobile" value="{$login.mobile}"></td>
            </tr>
            <eq name="login.groupid" value="2">
            <tr>
                <td align="right" class="bold">管理区域：</td>
                <td align="left">{$login.province_name}</td>
            </tr>
            <else />
            {//商户 }
            <eq name="login.groupid" value="3">
            <tr>
                <td align="right" class="bold">区域地址：</td>
                <td align="left">
                <select name="rankpath[]" id="province" onchange="chgOption(document.getElementById('city'),city,this.value,city_id);chgOption(document.getElementById('area'),COMM_area,document.getElementById('city').value,area_id)">
                </select>省&nbsp;<select name="rankpath[]" id="city" onchange="chgOption(document.getElementById('area'),COMM_area,this.value,area_id)">
                
                </select>市&nbsp;<select name="domaininfo_id" id="area">
                </select>区/县</td>
            </tr>
            
            <tr>
                <td align="right" class="bold">消防责任人：</td>
                <td align="left"><input type="text" class="input-text"  name="firecontrollername" value="{$login.firecontrollername}"></td>
            </tr>
            <tr>
                <td align="right" class="bold">责任人电话：</td>
                <td align="left"><input type="text" class="input-text"  name="firecontrollertel" value="{$login.firecontrollertel}"></td>
            </tr>
            <tr>
                <td align="right" class="bold">企业性质：</td>
                <td align="left">
                <select name="companytype_id">
                <foreach name="company_type" item="vo">
                <option value="{$vo.id}" <eq name="vo['id']" value="$login.companytype_id">selected</eq>>{$vo.name}</option>
                </foreach>
                </select>
                </td>
            </tr>
            </eq>
            
            <tr>
                {//商户 }
                <eq name="login.groupid" value="3">
                <td align="right" class="bold">具体地址：</td>
                <else />
                <td align="right" class="bold">公司地址：</td>
                </eq>
                <td align="left"><input type="text" class="input-text"  name="address" value="{$login.address}"></td>
            </tr>
            
          </eq>  
    
            </table>
    
            <input type="hidden" name="id" value="{$login.id}" />
            <input type="hidden" name="__gid" value="{$login.groupid}" />
            {__TOKEN__}
            <p align="center"><input type="submit" class="userButton" value="保存" /></p>
          </form>
      </div>
      </div>
      <div class="userBottom"></div>
  </div>
    <!--right end-->
</div>
<div class="clear0"></div>

<include file="Home:foot" />

<script language="javascript">
<eq name="login.groupid" value="3">
var provinceobj = document.getElementById('province');
var cityobj = document.getElementById('city');
var areaobj = document.getElementById('area');
chgOption(provinceobj,province,0,province_id);
chgOption(cityobj,city,province_id,city_id);
chgOption(areaobj,COMM_area,city_id,area_id);
</eq>
</script>
</body>
</html>
