<include file="Home:head" />

<!--tip begin-->
<include file="Home:user_tip" />
<!--tip end-->

<div class="clear"></div>
<div id="mainBox">
    <!--left begin-->
    <include file="Home:user_left" />
    <!--left end-->
    <!--right begin-->
  <div id="right">
    <div class="userTit"><h2>{$pagename}</h2></div>
<!--栏目-->
      <div class="userTop">
      <div class="userCenter">
      <table cellpadding=0 cellspacing=0 class="table_form" width="100%" bordercolor="#d1d1d1" border="1">
            <tr>
                <td align="right" width="120"><strong>群组：</strong></td>
                <td align="left">{$login.groupname}</td>
            </tr>
            <tr>
                <td align="right"><strong><eq name="login.groupid" value="3">公司<else />单位名称</eq>：</strong></td>
                <td align="left">{$login.companyname}</td>
            </tr>
            <tr>
                <td align="right"><strong>电话：</strong></td>
                <td align="left">{$login.telephone}</td>
            </tr>
            <eq name="login.groupid" value="3">
            <tr>
                <td align="right" width="120"><strong>身份证：</strong></td>
                <td align="left">{$login.idcardnumber}</td>
            </tr>
            <tr>
                <td align="right"><strong>公司性质：</strong></td>
                <td align="left">{$login.companytype_name}</td>
            </tr>
            <tr>
                <td align="right"><strong>单位地址：</strong></td>
                <td align="left">{$login.address}</td>
            </tr>
            <tr>
                <td align="right"><strong>消防责任人姓名：</strong></td>
                <td align="left">{$login.firecontrollername}</td>
            </tr>
            <tr>
                <td align="right"><strong>消防责任人电话：</strong></td>
                <td align="left">{$login.firecontrollertel}</td>
            </tr>
            </eq>
            <tr>
                <td align="right"><strong>注册时间：</strong></td>
                <td align="left">{$login.createtime|date="Y/m/d H:i:s",###}</td>
            </tr>
            </table>
      </div>
      </div>
      <div class="userBottom"></div>
  </div>
    <!--right end-->
</div>
<div class="clear0"></div>

<include file="Home:foot" />

</body>
</html>
