<div id="left">
        <!--sidebar begin-->
        <div class="sidebar">
        <div class="sidebarTit"><h2>用户基本信息</h2></div>
        <ul class="sidebarCon">
        <li{$on['User_basic']}><a href="{:U('User/basic')}">当前信息</a></li>
        <neq name="login.groupid" value="4">
        <li{$on['User_edit']}><a href="{:U('User/edit')}" >修改个人信息</a></li>
        <li{$on['User_pwd']}><a href="{:U('User/pwd')}" >登陆密码修改</a></li>
        </neq>
        </ul>
        <div class="sidebarBottom"></div>
        </div>
        <!--sidebar end-->
        <!--sidebar begin-->
        {//不是电信用户}
      	<neq name="login.groupid" value="4">
            <div class="sidebar">
            <div class="sidebarTit"><h2>邮件服务</h2></div>
            <ul class="sidebarCon">
            <li{$on['Guestbook_index']}><a href="{:U('Guestbook/index')}" >邮件列表</a></li>
            <li{$on['Guestbook_mailsend']}><a href="{:U('Guestbook/mailsend')}" >邮件发送</a></li>
            </ul>
            <div class="sidebarBottom"></div>
            </div>
            <!--sidebar end-->
            <eq name="login.groupid" value="2">
                <!--sidebar begin-->
                <div class="sidebar">
                <div class="sidebarTit"><h2>商户管理</h2></div>
                <ul class="sidebarCon">
                <li{$on['User_ulist']}><a href="{:U('User/ulist')}" >商户列表</a></li>
                </ul>
                <div class="sidebarBottom"></div>
                </div>
                <!--sidebar end-->
            </eq>
    	</neq>
        {//电信用户}
        <eq name="login.groupid" value="4">
            <!--sidebar begin-->
            <div class="sidebar">
            <div class="sidebarTit"><h2>用户管理</h2></div>
            <ul class="sidebarCon">
            <li><a href="#">开户</a></li>
            <li><a href="#">销户</a></li>
            <li><a href="#">设备维修</a></li>
            </ul>
            <div class="sidebarBottom"></div>
            </div>
            <!--sidebar end-->
        </eq>
        {//非电信用户}
        <neq name="login.groupid" value="4">
        	<!--sidebar begin-->
            <div class="sidebar">
            <div class="sidebarTit"><h2>设备管理</h2></div>
            <ul class="sidebarCon">
            <li{$on['Devices_index']}{$on['Devices_edit']}{$on['Devices_alphaedit']}><a href="{:U('Devices/index')}">设备信息管理</a></li>
            </ul>
            <div class="sidebarBottom"></div>
            </div>
            <!--sidebar end-->
        </neq>
        <neq name="login.groupid" value="3">
        	<!--sidebar begin-->
            <div class="sidebar">
            <div class="sidebarTit"><h2>数据统计</h2></div>
            <ul class="sidebarCon">
            <li{$on['Tongji_devices']}><a href="{:U('Tongji/devices')}">智能电话统计</a></li>
            <li{$on['Tongji_alpha']}><a href="{:U('Tongji/alpha')}">烟感器统计</a></li>
            <li{$on['Tongji_user']}><a href="{:U('Tongji/user')}">商户统计</a></li>
            <li{$on['Tongji_alarm']}><a href="{:U('Tongji/alarm')}">报警统计</a></li>
            </ul>
            <div class="sidebarBottom"></div>
            </div>
            <!--sidebar end-->
        </neq>
        <eq name="login.groupid" value="3">
       		<!--sidebar begin-->
            <div class="sidebar">
            <div class="sidebarTit"><h2>群组信息</h2></div>
            <ul class="sidebarCon">
            <li{$on['FireGroup_index']}{$on['FirePeople_index']}{$on['FirePeople_edit']}><a href="{:U('FireGroup/index')}">消防责任组信息</a></li>
            <li{$on['DevicesGroup_index']}{$on['DevicesPeople_index']}{$on['DevicesPeople_edit']}><a href="{:U('DevicesGroup/index')}">群呼电话组信息</a></li>
            </ul>
            <div class="sidebarBottom"></div>
            </div>
            <!--sidebar end-->
        </eq>
        {//非电信用户}
        <neq name="login.groupid" value="4">
        	<!--sidebar begin-->
            <div class="sidebar">
            <div class="sidebarTit"><h2>信息查询</h2></div>
            <ul class="sidebarCon">
            <li{$on['FireList_index']}><a href="{:U('FireList/index')}">报警查询</a></li>
            <li{$on['Log_index']}><a href="{:U('Log/index')}">日志查询</a></li>
            </ul>
            <div class="sidebarBottom"></div>
            </div>
            <!--sidebar end-->
        </neq>
        {//商户 }
        <eq name="login.groupid" value="3">
        	<!--sidebar begin-->
            <div class="sidebar">
            <div class="sidebarTit"><h2>业务管理</h2></div>
            <ul class="sidebarCon">
            <li{$on['Services_add']}><a href="{:U('Services/add')}">申请加装</a></li>
            <li{$on['Services_remove']}><a href="{:U('Services/remove')}">申请移机</a></li>
            <li{$on['Services_baoxiu']}><a href="{:U('Services/baoxiu')}">报修申请</a></li>
            </ul>
            <div class="sidebarBottom"></div>
            </div>
            <!--sidebar end--> 
        </eq>
    </div>
<script type="text/javascript">
var leftClickFn = function(obj)
{
	obj.srcElement.href =  obj.srcElement.href + '&__t=' + obj.srcElement.innerText;
};
//$("#left a").bind('click',leftClickFn)
</script>